<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content"/>
  </tr>
  <tr>
    <td id="left">
      <div class="ADMIN_ENTRY   field_183 ">
        <span class="label">contexto del evento traumatico:</span>
        <span class="content">
          <div class="CLUSTER   field_184 ">
            <span class="label">Tipo de ubicacion:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_185 field_186 ">
                <span class="label">Opciones:</span>
                <span class="content">
                  <label class="id_Via publica">
                    <input type="radio" value="at0021||Via publica" name="field_170"/>
Via publica                  </label>
                  <label class="id_Domicilio">
                    <input type="radio" value="at0022||Domicilio" name="field_170"/>
Domicilio                  </label>
                  <label class="id_Trabajo (Laboral)">
                    <input type="radio" value="at0023||Trabajo (Laboral)" name="field_170"/>
Trabajo (Laboral)                  </label>
                  <label class="id_Institución, ¿cuál?">
                    <input type="radio" value="at0024||Institución, ¿cuál?" name="field_170"/>
Institución, ¿cuál?                  </label>
                  <label class="id_nr">
                    <input type="radio" checked="true" value="" name="field_170"/>
NR                  </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT field_171 field_187 ">
                <span class="label">Otros datos:</span>
                <span class="content">
                  <textarea name="field_171"></textarea>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER   field_188 ">
            <span class="label">Procedencia:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_BOOLEAN field_189 field_190 ">
                <span class="label">Escena:</span>
                <span class="content">
                  <select name="field_172">
                    <option value=""/>
                    <option value="label.boolean.true">Si</option>
                    <option value="label.boolean.false">No</option>
                  </select>
                </span>
              </div>
              <div class="CLUSTER   field_191 ">
                <span class="label">Otro centro asistencial:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_192 field_193 ">
                    <span class="label">Hospital del interior:</span>
                    <span class="content">
                      <select name="field_173" id="field_173">
                        <option value=""/>
                        <option value="UY-AR||Artigas">Artigas</option>
                        <option value="UY-CA||Canelones">Canelones</option>
                        <option value="UY-CL||Cerro Largo">Cerro Largo</option>
                        <option value="UY-CO||Colonia">Colonia</option>
                        <option value="UY-DU||Durazno">Durazno</option>
                        <option value="UY-FS||Flores">Flores</option>
                        <option value="UY-FD||Florida">Florida</option>
                        <option value="UY-LA||Lavalleja">Lavalleja</option>
                        <option value="UY-MA||Maldonado">Maldonado</option>
                        <option value="UY-MO||Montevideo">Montevideo</option>
                        <option value="UY-PA||Paysandú">Paysandú</option>
                        <option value="UY-RN||Río Negro">Río Negro</option>
                        <option value="UY-RV||Rivera">Rivera</option>
                        <option value="UY-RO||Rocha">Rocha</option>
                        <option value="UY-SA||Salto">Salto</option>
                        <option value="UY-SJ||San José">San José</option>
                        <option value="UY-SO||Soriano ">Soriano</option>
                        <option value="UY-TA||Tacuarembó">Tacuarembó</option>
                        <option value="UY-TT||Treinta y Tres">Treinta y Tres</option>
                      </select>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN field_194 field_195 ">
                    <span class="label">Centro coordinado del cerro:</span>
                    <span class="content">
                      <select name="field_174">
                        <option value=""/>
                        <option value="label.boolean.true">Si</option>
                        <option value="label.boolean.false">No</option>
                      </select>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_TEXT field_175 field_196 ">
                    <span class="label">Otro centro:</span>
                    <span class="content">
                      <textarea name="field_175"></textarea>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_COUNT field_176 field_197 ">
            <span class="label">Numero de traslados secundarios:</span>
            <span class="content">
(*..*)              <input type="text" name="field_176"/>
            </span>
          </div>
          <div class="CLUSTER   field_198 ">
            <span class="label">Trasladado por:</span>
            <span class="content">
              <div class="CLUSTER   field_199 ">
                <span class="label">Ambulancia:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_200 field_201 ">
                    <span class="label">Empresa:</span>
                    <span class="content">
                      <label class="id_UCM">
                        <input type="radio" value="UCM||UCM" name="field_177"/>
UCM                      </label>
                      <label class="id_SEMM">
                        <input type="radio" value="SEMM||SEMM" name="field_177"/>
SEMM                      </label>
                      <label class="id_SUAT">
                        <input type="radio" value="SUAT||SUAT" name="field_177"/>
SUAT                      </label>
                      <label class="id_MSP">
                        <input type="radio" value="MSP||MSP" name="field_177"/>
MSP                      </label>
                      <label class="id_UCAR">
                        <input type="radio" value="UCAR||UCAR" name="field_177"/>
UCAR                      </label>
                      <label class="id_nr">
                        <input type="radio" checked="true" value="" name="field_177"/>
NR                      </label>
                    </span>
                  </div>
                  <div class="CLUSTER   field_202 ">
                    <span class="label">Medico actuante:</span>
                    <span class="content">
                      <div class="ELEMENT ELEMENT_DV_TEXT field_178 field_203 ">
                        <span class="label">Nombre:</span>
                        <span class="content">
                          <input type="text" name="field_178"/>
                        </span>
                      </div>
                      <div class="ELEMENT ELEMENT_DV_TEXT field_179 field_204 ">
                        <span class="label">Cedula de identidad:</span>
                        <span class="content">
                          <input type="text" name="field_179"/>
                        </span>
                      </div>
                    </span>
                  </div>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_BOOLEAN field_205 field_206 ">
                <span class="label">Policia:</span>
                <span class="content">
                  <select name="field_180">
                    <option value=""/>
                    <option value="label.boolean.true">Si</option>
                    <option value="label.boolean.false">No</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_BOOLEAN field_207 field_208 ">
                <span class="label">Particular:</span>
                <span class="content">
                  <select name="field_181">
                    <option value=""/>
                    <option value="label.boolean.true">Si</option>
                    <option value="label.boolean.false">No</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT field_182 field_209 ">
                <span class="label">Otro:</span>
                <span class="content">
                  <textarea name="field_182"></textarea>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </td>
    <td id="right">
      <div class="ADMIN_ENTRY   field_210 ">
        <span class="label">ubicacion geografica:</span>
        <span class="content">
          <div class="CLUSTER   field_91 ">
            <span class="label">Ubicacion:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_92 field_93 ">
                <span class="label">Departamento:</span>
                <span class="content">
                  <select name="field_84" id="field_84">
                    <option value=""/>
                    <option value="UY-AR||Artigas">Artigas</option>
                    <option value="UY-CA||Canelones">Canelones</option>
                    <option value="UY-CL||Cerro Largo">Cerro Largo</option>
                    <option value="UY-CO||Colonia">Colonia</option>
                    <option value="UY-DU||Durazno">Durazno</option>
                    <option value="UY-FS||Flores">Flores</option>
                    <option value="UY-FD||Florida">Florida</option>
                    <option value="UY-LA||Lavalleja">Lavalleja</option>
                    <option value="UY-MA||Maldonado">Maldonado</option>
                    <option value="UY-MO||Montevideo">Montevideo</option>
                    <option value="UY-PA||Paysandú">Paysandú</option>
                    <option value="UY-RN||Río Negro">Río Negro</option>
                    <option value="UY-RV||Rivera">Rivera</option>
                    <option value="UY-RO||Rocha">Rocha</option>
                    <option value="UY-SA||Salto">Salto</option>
                    <option value="UY-SJ||San José">San José</option>
                    <option value="UY-SO||Soriano ">Soriano</option>
                    <option value="UY-TA||Tacuarembó">Tacuarembó</option>
                    <option value="UY-TT||Treinta y Tres">Treinta y Tres</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT field_85 field_94 ">
                <span class="label">Localidad:</span>
                <span class="content">
                  <input type="text" name="field_85"/>
                </span>
              </div>
              <div class="CLUSTER   field_95 ">
                <span class="label">Via:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_TEXT field_86 field_96 ">
                    <span class="label">Nombre:</span>
                    <span class="content">
                      <input type="text" name="field_86"/>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_97 field_98 ">
                    <span class="label">Tipo:</span>
                    <span class="content">
                      <label class="id_calle">
                        <input type="radio" value="at0008||calle" name="field_87"/>
calle                      </label>
                      <label class="id_ruta">
                        <input type="radio" value="at0009||ruta" name="field_87"/>
ruta                      </label>
                      <label class="id_camino">
                        <input type="radio" value="at0010||camino" name="field_87"/>
camino                      </label>
                      <label class="id_bulevar">
                        <input type="radio" value="at0011||bulevar" name="field_87"/>
bulevar                      </label>
                      <label class="id_avenida">
                        <input type="radio" value="at0012||avenida" name="field_87"/>
avenida                      </label>
                      <label class="id_paso">
                        <input type="radio" value="at0013||paso" name="field_87"/>
paso                      </label>
                      <label class="id_nr">
                        <input type="radio" checked="true" value="" name="field_87"/>
NR                      </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_COUNT field_88 field_99 ">
                    <span class="label">Numero:</span>
                    <span class="content">
(*..*)                      <input type="text" name="field_88"/>
                    </span>
                  </div>
                </span>
              </div>
              <div class="CLUSTER   field_100 ">
                <span class="label">Cruce:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_TEXT field_89 field_101 ">
                    <span class="label">Nombre:</span>
                    <span class="content">
                      <input type="text" name="field_89"/>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_102 field_103 ">
                    <span class="label">Tipo:</span>
                    <span class="content">
                      <label class="id_calle">
                        <input type="radio" value="at0008||calle" name="field_90"/>
calle                      </label>
                      <label class="id_ruta">
                        <input type="radio" value="at0009||ruta" name="field_90"/>
ruta                      </label>
                      <label class="id_camino">
                        <input type="radio" value="at0010||camino" name="field_90"/>
camino                      </label>
                      <label class="id_bulevar">
                        <input type="radio" value="at0011||bulevar" name="field_90"/>
bulevar                      </label>
                      <label class="id_avenida">
                        <input type="radio" value="at0012||avenida" name="field_90"/>
avenida                      </label>
                      <label class="id_paso">
                        <input type="radio" value="at0013||paso" name="field_90"/>
paso                      </label>
                      <label class="id_nr">
                        <input type="radio" checked="true" value="" name="field_90"/>
NR                      </label>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
