<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content"/>
  </tr>
  <tr>
    <td id="left">
      <div class="OBSERVATION  ">
        <span class="label">Presión arterial:</span>
        <span class="content">
          <div class="CLUSTER  ">
            <span class="label">Presión arterial:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Presión sistólica:</span>
                <span class="content">
(*..*)                  <label class="field_5"> </label>
                  <label class="field_6"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Presión diastólica:</span>
                <span class="content">
(*..*)                  <label class="field_7"> </label>
                  <label class="field_8"> </label>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </td>
    <td id="right">
      <div class="ACTION  ">
        <span class="label">adminstracion de sustancias:</span>
        <span class="content">
          <div class="CLUSTER  multiple">
            <span class="label">Sustancia administrada:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Nombre:</span>
                <span class="content">
                  <label class="field_104"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Via:</span>
                <span class="content">
                  <label class="field_105"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Dosis:</span>
                <span class="content">
(*..*)                  <label class="field_106"> </label>
                  <label class="field_107"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_DATE_TIME ">
            <span class="label">Fecha:</span>
            <span class="content">
              <label class="field_108"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
