<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content"/>
  </tr>
  <tr>
    <td id="left">
      <div class="EVALUATION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.columna_vertebral.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.columna_vertebral.v1 codigo [at0002], para el nodo [at0002], y el locale [en]:</span>
            <span class="content">
              <label class="field_290"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.columna_vertebral.v1 codigo [at0003], para el nodo [at0003], y el locale [en]:</span>
            <span class="content">
              <label class="field_291"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
    <td id="right">
      <div class="ACTION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.columna_vertebral.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.columna_vertebral.v1 codigo [at0002], para el nodo [at0002], y el locale [en]:</span>
            <span class="content">
              <label class="field_292"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.columna_vertebral.v1 codigo [at0003], para el nodo [at0003], y el locale [en]:</span>
            <span class="content">
              <label class="field_293"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" id="bottom">
      <div class="ACTION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.resumen_actuacion.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.resumen_actuacion.v1 codigo [at0002], para el nodo [at0002], y el locale [en]:</span>
            <span class="content">
              <label class="field_139"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_DATE_TIME ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.resumen_actuacion.v1 codigo [at0005], para el nodo [at0005], y el locale [en]:</span>
            <span class="content">
              <label class="field_140"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
</table>
