<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content"/>
  </tr>
  <tr>
    <td id="left">
      <div class="EVALUATION  ">
        <span class="label">Evaluación de vía aérea:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Presenta alteraciones:</span>
            <span class="content">
              <label class="field_240"> </label>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Trauma sobre vía aérea:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Trauma directo sobre vía aérea:</span>
                <span class="content">
                  <label class="field_241"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Tipo de trauma:</span>
                <span class="content">
                  <label class="field_242"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Dificultad respiratoria:</span>
            <span class="content">
              <label class="field_243"> </label>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Obstrucción de vía aérea:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Vía aérea obstruida:</span>
                <span class="content">
                  <label class="field_244"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Causa de obstrucción:</span>
                <span class="content">
                  <label class="field_245"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Otras causas de obstrucción:</span>
                <span class="content">
                  <label class="field_246"> </label>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </td>
    <td id="right">
      <div class="ACTION  ">
        <span class="label">Acciones sobre vía aérea:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Máscara de oxígeno:</span>
            <span class="content">
              <label class="field_247"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Apoyo ventilatorio (BVM):</span>
            <span class="content">
              <label class="field_248"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Maniobra de desobstrucción:</span>
            <span class="content">
              <label class="field_249"> </label>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Intubación orotraqueal:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Protocolo de intubación:</span>
                <span class="content">
                  <label class="field_250"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Máscara de fastrach:</span>
            <span class="content">
              <label class="field_251"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Máscara laríngea:</span>
            <span class="content">
              <label class="field_252"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Combitubo:</span>
            <span class="content">
              <label class="field_253"> </label>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Abordaje quirúrgico:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Tipo:</span>
                <span class="content">
                  <label class="field_254"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Otras acciones:</span>
            <span class="content">
              <label class="field_255"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" id="bottom">
      <div class="ACTION  ">
        <span class="label">Resumen de actuación:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Diagnóstico / Actuación:</span>
            <span class="content">
              <label class="field_139"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_DATE_TIME ">
            <span class="label">Fecha y Hora de evaluación:</span>
            <span class="content">
              <label class="field_140"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
</table>
