<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content"/>
  </tr>
  <tr>
    <td id="left">
      <div class="ELEMENT ELEMENT_DvQuantity ">
        <span class="label">Frecuencia cardíaca:</span>
        <span class="content">
(*..*)          <label class="field_1"> </label>
          <label class="field_2"> </label>
        </span>
      </div>
      <div class="CLUSTER  ">
        <span class="label">Presión arterial:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Presión sistólica:</span>
            <span class="content">
(*..*)              <label class="field_5"> </label>
              <label class="field_6"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Presión diastólica:</span>
            <span class="content">
(*..*)              <label class="field_7"> </label>
              <label class="field_8"> </label>
            </span>
          </div>
        </span>
      </div>
      <div class="CLUSTER  ">
        <span class="label">Alteraciones:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">¿Presenta alteraciones?:</span>
            <span class="content">
              <label class="field_360"> </label>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Alteraciones presentes:</span>
            <span class="content">
              <div class="CLUSTER  ">
                <span class="label">Hemorragia externa:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">¿Presente?:</span>
                    <span class="content">
                      <label class="field_361"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Estado:</span>
                    <span class="content">
                      <label class="field_362"> </label>
                    </span>
                  </div>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Hemorragia interna:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Evidencia / sospecha:</span>
                    <span class="content">
                      <label class="field_363"> </label>
                    </span>
                  </div>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Relleno capilar:</span>
                <span class="content">
                  <label class="field_364"> </label>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
      <div class="CLUSTER  ">
        <span class="label">Monitorización electrocardiográfica:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Asístole:</span>
            <span class="content">
              <label class="field_365"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Fibrilación ventricular:</span>
            <span class="content">
              <label class="field_366"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Actividad eléctrica sin pulso:</span>
            <span class="content">
              <label class="field_367"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Taquicardia ventricular:</span>
            <span class="content">
              <label class="field_368"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Evolución:</span>
            <span class="content">
              <label class="field_369"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
    <td id="right">
      <div class="ACTION  ">
        <span class="label">Estado circulatorio:</span>
        <span class="content">
          <div class="CLUSTER  ">
            <span class="label">VVPs:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_COUNT ">
                <span class="label">Número de vías:</span>
                <span class="content">
(
    0
..
    10
)                  <label class="field_370"> </label>
                </span>
              </div>
              <div class="CLUSTER  multiple">
                <span class="label">VVP:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Topografía:</span>
                    <span class="content">
                      <label class="field_371"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DvOrdinal ">
                    <span class="label">Calibre:</span>
                    <span class="content">
                      <label class="field_372"> </label>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">VVCs:</span>
            <span class="content">
              <div class="CLUSTER  ">
                <span class="label">VVC:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Yugular interna:</span>
                    <span class="content">
                      <label class="field_373"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Subclavia:</span>
                    <span class="content">
                      <label class="field_374"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Femoral:</span>
                    <span class="content">
                      <label class="field_375"> </label>
                    </span>
                  </div>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">VVC:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Yugular interna:</span>
                    <span class="content">
                      <label class="field_373"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Subclavia:</span>
                    <span class="content">
                      <label class="field_374"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Femoral:</span>
                    <span class="content">
                      <label class="field_375"> </label>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Reposición:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Duración:</span>
                <span class="content">
(*..*)                  <label class="field_376"> </label>
                  <label class="field_377"> </label>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Tipo:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DvQuantity ">
                    <span class="label">Suero SF:</span>
                    <span class="content">
(*..*)                      <label class="field_378"> </label>
                      <label class="field_379"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DvQuantity ">
                    <span class="label">Suero Ringer Lactado:</span>
                    <span class="content">
(*..*)                      <label class="field_380"> </label>
                      <label class="field_381"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DvQuantity ">
                    <span class="label">Coloides:</span>
                    <span class="content">
(*..*)                      <label class="field_382"> </label>
                      <label class="field_383"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DvQuantity ">
                    <span class="label">Glóbulos rojos:</span>
                    <span class="content">
(*..*)                      <label class="field_384"> </label>
                      <label class="field_385"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DvQuantity ">
                    <span class="label">Plasma:</span>
                    <span class="content">
(*..*)                      <label class="field_386"> </label>
                      <label class="field_387"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DvQuantity ">
                    <span class="label">Plaquetas:</span>
                    <span class="content">
(*..*)                      <label class="field_388"> </label>
                      <label class="field_389"> </label>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Control de sangrados externos:</span>
            <span class="content">
              <label class="field_390"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Reanimación de PCR:</span>
            <span class="content">
              <label class="field_391"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" id="bottom">
      <div class="ACTION  ">
        <span class="label">Resumen de actuación:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Diagnóstico / Actuación:</span>
            <span class="content">
              <label class="field_139"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_DATE_TIME ">
            <span class="label">Fecha y Hora de evaluación:</span>
            <span class="content">
              <label class="field_140"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
</table>
