<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content"/>
  </tr>
  <tr>
    <td id="left">
      <div class="ELEMENT ELEMENT_DvQuantity field_35 field_36 ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.frecuencia_cardiaca.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
        <span class="content">
(*..*)          <input type="text" name="field_1"/>
          <input type="hidden" name="field_2" value="CPM"/>
CPM        </span>
      </div>
      <div class="ELEMENT ELEMENT_DvQuantity field_37 field_38 ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.frecuencia_respiratoria.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
        <span class="content">
(0.0..200.0)          <input type="text" name="field_3"/>
          <input type="hidden" name="field_4" value="rev/min"/>
rev/min        </span>
      </div>
      <div class="CLUSTER   field_39 ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.presion_arterial.v1 codigo [at0005], para el nodo [at0005], y el locale [en]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity field_40 field_41 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.presion_arterial.v1 codigo [at0006], para el nodo [at0006], y el locale [en]:</span>
            <span class="content">
(*..*)              <input type="text" name="field_5"/>
              <input type="hidden" name="field_6" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity field_42 field_43 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.presion_arterial.v1 codigo [at0007], para el nodo [at0007], y el locale [en]:</span>
            <span class="content">
(*..*)              <input type="text" name="field_7"/>
              <input type="hidden" name="field_8" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
        </span>
      </div>
      <div class="OBSERVATION   field_44 ">
        <span class="label">Glasgow Coma Scale:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvOrdinal field_9 field_45 ">
            <span class="label">Best eye response:</span>
            <span class="content">
              <select name="field_9" id="field_9">
                <option value=""/>
                <option value="at0010||(1) No eye opening">(1) No eye opening</option>
                <option value="at0011||(2) Eye opening in response to pain">(2) Eye opening in response to pain</option>
                <option value="at0012||(3) Eye opening to speech">(3) Eye opening to speech</option>
                <option value="at0013||(4) Eyes opening spontaneously">(4) Eyes opening spontaneously</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvOrdinal field_10 field_46 ">
            <span class="label">Best verbal response:</span>
            <span class="content">
              <select name="field_10" id="field_10">
                <option value=""/>
                <option value="at0014||(1) None">(1) None</option>
                <option value="at0015||(2) Incomprehensible sounds">(2) Incomprehensible sounds</option>
                <option value="at0016||(3) Inappropriate words">(3) Inappropriate words</option>
                <option value="at0017||(4) Confused">(4) Confused</option>
                <option value="at0018||(5) Oriented">(5) Oriented</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvOrdinal field_11 field_47 ">
            <span class="label">Best motor response:</span>
            <span class="content">
              <select name="field_11" id="field_11">
                <option value=""/>
                <option value="at0019||(1) No motor response">(1) No motor response</option>
                <option value="at0020||(2) Extension to pain">(2) Extension to pain</option>
                <option value="at0021||(3) Flexion in response to pain">(3) Flexion in response to pain</option>
                <option value="at0022||(4) Withdraws from pain">(4) Withdraws from pain</option>
                <option value="at0023||(5) Localizes to pain">(5) Localizes to pain</option>
                <option value="at0024||(6) Obeys commands">(6) Obeys commands</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_COUNT field_48 field_49 ">
            <span class="label">Score:</span>
            <span class="content">
(
    3
..
    15
)              <input type="text" name="field_12"/>
            </span>
          </div>
        </span>
      </div>
    </td>
    <td id="right">
      <div class="ACTION   field_50 ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="CLUSTER   field_51 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0002], para el nodo [at0002], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_COUNT field_52 field_53 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0003], para el nodo [at0003], y el locale [en]:</span>
                <span class="content">
(
    0
..
    10
)                  <input type="text" name="field_13"/>
                </span>
              </div>
              <div class="CLUSTER   field_54 multiple">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_55 field_56 ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0005], para el nodo [at0005], y el locale [en]:</span>
                    <span class="content">
                      <select name="field_14" id="field_14">
                        <option value=""/>
                        <option value="at0006||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0006], para el nodo [at0006], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0006], para el nodo [at0006], y el locale [en]</option>
                        <option value="at0007||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0007], para el nodo [at0007], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0007], para el nodo [at0007], y el locale [en]</option>
                        <option value="at0008||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0008], para el nodo [at0008], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0008], para el nodo [at0008], y el locale [en]</option>
                      </select>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DvOrdinal field_15 field_57 ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0010], para el nodo [at0010], y el locale [en]:</span>
                    <span class="content">
                      <select name="field_15" id="field_15">
                        <option value=""/>
                        <option value="at0011||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0011], para el nodo [at0011], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0011], para el nodo [at0011], y el locale [en]</option>
                        <option value="at0012||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0012], para el nodo [at0012], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0012], para el nodo [at0012], y el locale [en]</option>
                        <option value="at0013||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0013], para el nodo [at0013], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0013], para el nodo [at0013], y el locale [en]</option>
                        <option value="at0014||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0014], para el nodo [at0014], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0014], para el nodo [at0014], y el locale [en]</option>
                        <option value="at0015||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0015], para el nodo [at0015], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0015], para el nodo [at0015], y el locale [en]</option>
                        <option value="at0016||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0016], para el nodo [at0016], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0016], para el nodo [at0016], y el locale [en]</option>
                      </select>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER   field_58 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0017], para el nodo [at0017], y el locale [en]:</span>
            <span class="content">
              <div class="CLUSTER   field_59 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0018], para el nodo [at0018], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_60 field_61 ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0019], para el nodo [at0019], y el locale [en]:</span>
                    <span class="content">
                      <select name="field_16" id="field_16">
                        <option value=""/>
                        <option value="at0020||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0020], para el nodo [at0020], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0020], para el nodo [at0020], y el locale [en]</option>
                        <option value="at0021||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0021], para el nodo [at0021], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0021], para el nodo [at0021], y el locale [en]</option>
                      </select>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_62 field_63 ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0022], para el nodo [at0022], y el locale [en]:</span>
                    <span class="content">
                      <select name="field_17" id="field_17">
                        <option value=""/>
                        <option value="at0023||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0023], para el nodo [at0023], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0023], para el nodo [at0023], y el locale [en]</option>
                        <option value="at0024||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0024], para el nodo [at0024], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0024], para el nodo [at0024], y el locale [en]</option>
                      </select>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_64 field_65 ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0025], para el nodo [at0025], y el locale [en]:</span>
                    <span class="content">
                      <select name="field_18" id="field_18">
                        <option value=""/>
                        <option value="at0026||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0026], para el nodo [at0026], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0026], para el nodo [at0026], y el locale [en]</option>
                        <option value="at0027||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0027], para el nodo [at0027], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0027], para el nodo [at0027], y el locale [en]</option>
                      </select>
                    </span>
                  </div>
                </span>
              </div>
              <div class="CLUSTER   field_59 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0018], para el nodo [at0018], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_60 field_61 ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0019], para el nodo [at0019], y el locale [en]:</span>
                    <span class="content">
                      <select name="field_16" id="field_16">
                        <option value=""/>
                        <option value="at0020||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0020], para el nodo [at0020], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0020], para el nodo [at0020], y el locale [en]</option>
                        <option value="at0021||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0021], para el nodo [at0021], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0021], para el nodo [at0021], y el locale [en]</option>
                      </select>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_62 field_63 ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0022], para el nodo [at0022], y el locale [en]:</span>
                    <span class="content">
                      <select name="field_17" id="field_17">
                        <option value=""/>
                        <option value="at0023||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0023], para el nodo [at0023], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0023], para el nodo [at0023], y el locale [en]</option>
                        <option value="at0024||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0024], para el nodo [at0024], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0024], para el nodo [at0024], y el locale [en]</option>
                      </select>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_64 field_65 ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0025], para el nodo [at0025], y el locale [en]:</span>
                    <span class="content">
                      <select name="field_18" id="field_18">
                        <option value=""/>
                        <option value="at0026||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0026], para el nodo [at0026], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0026], para el nodo [at0026], y el locale [en]</option>
                        <option value="at0027||Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0027], para el nodo [at0027], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0027], para el nodo [at0027], y el locale [en]</option>
                      </select>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
      <div class="CLUSTER   field_66 ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0002], para el nodo [at0002], y el locale [en]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity field_67 field_68 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0003], para el nodo [at0003], y el locale [en]:</span>
            <span class="content">
(*..*)              <input type="text" name="field_19"/>
              <select name="field_20" id="field_20">
                <option value=""/>
                <option value="h">h</option>
                <option value="min">min</option>
              </select>
            </span>
          </div>
          <div class="CLUSTER   field_69 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DvQuantity field_70 field_71 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0005], para el nodo [at0005], y el locale [en]:</span>
                <span class="content">
(*..*)                  <input type="text" name="field_21"/>
                  <input type="hidden" name="field_22" value="ml"/>
ml                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity field_72 field_73 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0006], para el nodo [at0006], y el locale [en]:</span>
                <span class="content">
(*..*)                  <input type="text" name="field_23"/>
                  <input type="hidden" name="field_24" value="ml"/>
ml                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity field_74 field_75 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0007], para el nodo [at0007], y el locale [en]:</span>
                <span class="content">
(*..*)                  <input type="text" name="field_25"/>
                  <input type="hidden" name="field_26" value="ml"/>
ml                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity field_76 field_77 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0008], para el nodo [at0008], y el locale [en]:</span>
                <span class="content">
(*..*)                  <input type="text" name="field_27"/>
                  <input type="hidden" name="field_28" value="ml"/>
ml                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity field_78 field_79 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0009], para el nodo [at0009], y el locale [en]:</span>
                <span class="content">
(*..*)                  <input type="text" name="field_29"/>
                  <input type="hidden" name="field_30" value="ml"/>
ml                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity field_80 field_81 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0010], para el nodo [at0010], y el locale [en]:</span>
                <span class="content">
(*..*)                  <input type="text" name="field_31"/>
                  <input type="hidden" name="field_32" value="ml"/>
ml                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity field_82 field_83 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0011], para el nodo [at0011], y el locale [en]:</span>
                <span class="content">
(*..*)                  <input type="text" name="field_33"/>
                  <input type="hidden" name="field_34" value="ml"/>
ml                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
