<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="CLUSTER   field_91 ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0002], para el nodo [at0002], y el locale [en]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_92 field_93 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0003], para el nodo [at0003], y el locale [en]:</span>
            <span class="content">
              <select name="field_84" id="field_84">
                <option value=""/>
                <option value="UY-AR||Artigas">Artigas</option>
                <option value="UY-CA||Canelones">Canelones</option>
                <option value="UY-CL||Cerro Largo">Cerro Largo</option>
                <option value="UY-CO||Colonia">Colonia</option>
                <option value="UY-DU||Durazno">Durazno</option>
                <option value="UY-FS||Flores">Flores</option>
                <option value="UY-FD||Florida">Florida</option>
                <option value="UY-LA||Lavalleja">Lavalleja</option>
                <option value="UY-MA||Maldonado">Maldonado</option>
                <option value="UY-MO||Montevideo">Montevideo</option>
                <option value="UY-PA||Paysandú">Paysandú</option>
                <option value="UY-RN||Río Negro">Río Negro</option>
                <option value="UY-RV||Rivera">Rivera</option>
                <option value="UY-RO||Rocha">Rocha</option>
                <option value="UY-SA||Salto">Salto</option>
                <option value="UY-SJ||San José">San José</option>
                <option value="UY-SO||Soriano ">Soriano</option>
                <option value="UY-TA||Tacuarembó">Tacuarembó</option>
                <option value="UY-TT||Treinta y Tres">Treinta y Tres</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT field_85 field_94 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
            <span class="content">
              <input type="text" name="field_85"/>
            </span>
          </div>
          <div class="CLUSTER   field_95 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0005], para el nodo [at0005], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_TEXT field_86 field_96 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0006], para el nodo [at0006], y el locale [en]:</span>
                <span class="content">
                  <input type="text" name="field_86"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_97 field_98 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0007], para el nodo [at0007], y el locale [en]:</span>
                <span class="content">
                  <label class="id_Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0008], para el nodo [at0008], y el locale [en]">
                    <input type="radio" value="at0008||Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0008], para el nodo [at0008], y el locale [en]" name="field_87"/>
Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0008], para el nodo [at0008], y el locale [en]                  </label>
                  <label class="id_Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0009], para el nodo [at0009], y el locale [en]">
                    <input type="radio" value="at0009||Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0009], para el nodo [at0009], y el locale [en]" name="field_87"/>
Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0009], para el nodo [at0009], y el locale [en]                  </label>
                  <label class="id_Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0010], para el nodo [at0010], y el locale [en]">
                    <input type="radio" value="at0010||Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0010], para el nodo [at0010], y el locale [en]" name="field_87"/>
Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0010], para el nodo [at0010], y el locale [en]                  </label>
                  <label class="id_Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0011], para el nodo [at0011], y el locale [en]">
                    <input type="radio" value="at0011||Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0011], para el nodo [at0011], y el locale [en]" name="field_87"/>
Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0011], para el nodo [at0011], y el locale [en]                  </label>
                  <label class="id_Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0012], para el nodo [at0012], y el locale [en]">
                    <input type="radio" value="at0012||Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0012], para el nodo [at0012], y el locale [en]" name="field_87"/>
Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0012], para el nodo [at0012], y el locale [en]                  </label>
                  <label class="id_Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0013], para el nodo [at0013], y el locale [en]">
                    <input type="radio" value="at0013||Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0013], para el nodo [at0013], y el locale [en]" name="field_87"/>
Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0013], para el nodo [at0013], y el locale [en]                  </label>
                  <label class="id_nr">
                    <input type="radio" checked="true" value="" name="field_87"/>
NR                  </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_COUNT field_88 field_99 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0014], para el nodo [at0014], y el locale [en]:</span>
                <span class="content">
(*..*)                  <input type="text" name="field_88"/>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER   field_100 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0015], para el nodo [at0015], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_TEXT field_89 field_101 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0016], para el nodo [at0016], y el locale [en]:</span>
                <span class="content">
                  <input type="text" name="field_89"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_102 field_103 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0007], para el nodo [at0007], y el locale [en]:</span>
                <span class="content">
                  <label class="id_Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0008], para el nodo [at0008], y el locale [en]">
                    <input type="radio" value="at0008||Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0008], para el nodo [at0008], y el locale [en]" name="field_90"/>
Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0008], para el nodo [at0008], y el locale [en]                  </label>
                  <label class="id_Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0009], para el nodo [at0009], y el locale [en]">
                    <input type="radio" value="at0009||Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0009], para el nodo [at0009], y el locale [en]" name="field_90"/>
Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0009], para el nodo [at0009], y el locale [en]                  </label>
                  <label class="id_Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0010], para el nodo [at0010], y el locale [en]">
                    <input type="radio" value="at0010||Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0010], para el nodo [at0010], y el locale [en]" name="field_90"/>
Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0010], para el nodo [at0010], y el locale [en]                  </label>
                  <label class="id_Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0011], para el nodo [at0011], y el locale [en]">
                    <input type="radio" value="at0011||Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0011], para el nodo [at0011], y el locale [en]" name="field_90"/>
Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0011], para el nodo [at0011], y el locale [en]                  </label>
                  <label class="id_Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0012], para el nodo [at0012], y el locale [en]">
                    <input type="radio" value="at0012||Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0012], para el nodo [at0012], y el locale [en]" name="field_90"/>
Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0012], para el nodo [at0012], y el locale [en]                  </label>
                  <label class="id_Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0013], para el nodo [at0013], y el locale [en]">
                    <input type="radio" value="at0013||Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0013], para el nodo [at0013], y el locale [en]" name="field_90"/>
Termino no encontrado en el arquetipo openEHR-EHR-ADMIN_ENTRY.ubicacion_geografica.v1 codigo [at0013], para el nodo [at0013], y el locale [en]                  </label>
                  <label class="id_nr">
                    <input type="radio" checked="true" value="" name="field_90"/>
NR                  </label>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
