<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="OBSERVATION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0000], para el nodo [at0000], y el locale [es_AR]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0004], para el nodo [at0004], y el locale [es_AR]:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_658"/>
              <input type="hidden" name="field_659" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0005], para el nodo [at0005], y el locale [es_AR]:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_660"/>
              <input type="hidden" name="field_661" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1006], para el nodo [at1006], y el locale [es_AR]:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_662"/>
              <input type="hidden" name="field_663" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1007], para el nodo [at1007], y el locale [es_AR]:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_664"/>
              <input type="hidden" name="field_665" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0033], para el nodo [at0033], y el locale [es_AR]:</span>
            <span class="content">
              <textarea name="field_666"></textarea>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0008], para el nodo [at0008], y el locale [es_AR]:</span>
            <span class="content">
              <select name="field_667" id="field_667">
                <option value=""/>
                <option value="at1000||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1000], para el nodo [at1000], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1000], para el nodo [at1000], y el locale [es_AR]</option>
                <option value="at1001||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1001], para el nodo [at1001], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1001], para el nodo [at1001], y el locale [es_AR]</option>
                <option value="at1002||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1002], para el nodo [at1002], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1002], para el nodo [at1002], y el locale [es_AR]</option>
                <option value="at1003||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1003], para el nodo [at1003], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1003], para el nodo [at1003], y el locale [es_AR]</option>
                <option value="at1014||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1014], para el nodo [at1014], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1014], para el nodo [at1014], y el locale [es_AR]</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1052], para el nodo [at1052], y el locale [es_AR]:</span>
            <span class="content">
              <textarea name="field_668"></textarea>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1043], para el nodo [at1043], y el locale [es_AR]:</span>
            <span class="content">
              <select name="field_669" id="field_669">
                <option value=""/>
                <option value="at1044||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1044], para el nodo [at1044], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1044], para el nodo [at1044], y el locale [es_AR]</option>
                <option value="at1045||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1045], para el nodo [at1045], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1045], para el nodo [at1045], y el locale [es_AR]</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1005], para el nodo [at1005], y el locale [es_AR]:</span>
            <span class="content">
(-90.0..90.0)              <input type="text" name="field_670"/>
              <input type="hidden" name="field_671" value="°"/>
°            </span>
          </div>
          <div class="INTERVAL_EVENT  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1042], para el nodo [at1042], y el locale [es_AR]:</span>
            <span class="content">
              <select name="field_672" id="field_672">
                <option value=""/>
                <option value="146||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [146], para el nodo [146], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [146], para el nodo [146], y el locale [es_AR]</option>
              </select>
              <div class="DV_DURATION  ">
                <span class="content"/>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0004], para el nodo [at0004], y el locale [es_AR]:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_673"/>
                  <input type="hidden" name="field_674" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0005], para el nodo [at0005], y el locale [es_AR]:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_675"/>
                  <input type="hidden" name="field_676" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1006], para el nodo [at1006], y el locale [es_AR]:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_677"/>
                  <input type="hidden" name="field_678" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1007], para el nodo [at1007], y el locale [es_AR]:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_679"/>
                  <input type="hidden" name="field_680" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0033], para el nodo [at0033], y el locale [es_AR]:</span>
                <span class="content">
                  <textarea name="field_681"></textarea>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0008], para el nodo [at0008], y el locale [es_AR]:</span>
                <span class="content">
                  <select name="field_682" id="field_682">
                    <option value=""/>
                    <option value="at1000||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1000], para el nodo [at1000], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1000], para el nodo [at1000], y el locale [es_AR]</option>
                    <option value="at1001||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1001], para el nodo [at1001], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1001], para el nodo [at1001], y el locale [es_AR]</option>
                    <option value="at1002||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1002], para el nodo [at1002], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1002], para el nodo [at1002], y el locale [es_AR]</option>
                    <option value="at1003||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1003], para el nodo [at1003], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1003], para el nodo [at1003], y el locale [es_AR]</option>
                    <option value="at1014||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1014], para el nodo [at1014], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1014], para el nodo [at1014], y el locale [es_AR]</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1052], para el nodo [at1052], y el locale [es_AR]:</span>
                <span class="content">
                  <textarea name="field_683"></textarea>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1043], para el nodo [at1043], y el locale [es_AR]:</span>
                <span class="content">
                  <select name="field_684" id="field_684">
                    <option value=""/>
                    <option value="at1044||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1044], para el nodo [at1044], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1044], para el nodo [at1044], y el locale [es_AR]</option>
                    <option value="at1045||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1045], para el nodo [at1045], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1045], para el nodo [at1045], y el locale [es_AR]</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1005], para el nodo [at1005], y el locale [es_AR]:</span>
                <span class="content">
(-90.0..90.0)                  <input type="text" name="field_685"/>
                  <input type="hidden" name="field_686" value="°"/>
°                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0013], para el nodo [at0013], y el locale [es_AR]:</span>
            <span class="content">
              <select name="field_687" id="field_687">
                <option value=""/>
                <option value="at0015||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0015], para el nodo [at0015], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0015], para el nodo [at0015], y el locale [es_AR]</option>
                <option value="at0016||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0016], para el nodo [at0016], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0016], para el nodo [at0016], y el locale [es_AR]</option>
                <option value="at0017||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0017], para el nodo [at0017], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0017], para el nodo [at0017], y el locale [es_AR]</option>
                <option value="at1008||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1008], para el nodo [at1008], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1008], para el nodo [at1008], y el locale [es_AR]</option>
                <option value="at1009||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1009], para el nodo [at1009], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1009], para el nodo [at1009], y el locale [es_AR]</option>
                <option value="at1018||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1018], para el nodo [at1018], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1018], para el nodo [at1018], y el locale [es_AR]</option>
                <option value="at1019||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1019], para el nodo [at1019], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1019], para el nodo [at1019], y el locale [es_AR]</option>
              </select>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1033], para el nodo [at1033], y el locale [es_AR]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0014], para el nodo [at0014], y el locale [es_AR]:</span>
                <span class="content">
                  <select name="field_688" id="field_688">
                    <option value=""/>
                    <option value="at0025||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0025], para el nodo [at0025], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0025], para el nodo [at0025], y el locale [es_AR]</option>
                    <option value="at0026||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0026], para el nodo [at0026], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0026], para el nodo [at0026], y el locale [es_AR]</option>
                    <option value="at0027||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0027], para el nodo [at0027], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0027], para el nodo [at0027], y el locale [es_AR]</option>
                    <option value="at0028||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0028], para el nodo [at0028], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0028], para el nodo [at0028], y el locale [es_AR]</option>
                    <option value="at1020||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1020], para el nodo [at1020], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1020], para el nodo [at1020], y el locale [es_AR]</option>
                    <option value="at1021||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1021], para el nodo [at1021], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1021], para el nodo [at1021], y el locale [es_AR]</option>
                    <option value="at1026||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1026], para el nodo [at1026], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1026], para el nodo [at1026], y el locale [es_AR]</option>
                    <option value="at1031||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1031], para el nodo [at1031], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1031], para el nodo [at1031], y el locale [es_AR]</option>
                    <option value="at1032||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1032], para el nodo [at1032], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1032], para el nodo [at1032], y el locale [es_AR]</option>
                    <option value="at1051||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1051], para el nodo [at1051], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1051], para el nodo [at1051], y el locale [es_AR]</option>
                    <option value="at1053||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1053], para el nodo [at1053], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1053], para el nodo [at1053], y el locale [es_AR]</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1034], para el nodo [at1034], y el locale [es_AR]:</span>
                <span class="content">
                  <textarea name="field_689"></textarea>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1035], para el nodo [at1035], y el locale [es_AR]:</span>
            <span class="content">
              <select name="field_690" id="field_690">
                <option value=""/>
                <option value="at1036||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1036], para el nodo [at1036], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1036], para el nodo [at1036], y el locale [es_AR]</option>
                <option value="at1037||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1037], para el nodo [at1037], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1037], para el nodo [at1037], y el locale [es_AR]</option>
                <option value="at1039||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1039], para el nodo [at1039], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1039], para el nodo [at1039], y el locale [es_AR]</option>
                <option value="at1040||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1040], para el nodo [at1040], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1040], para el nodo [at1040], y el locale [es_AR]</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1038], para el nodo [at1038], y el locale [es_AR]:</span>
            <span class="content">
              <textarea name="field_691"></textarea>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1010], para el nodo [at1010], y el locale [es_AR]:</span>
            <span class="content">
              <select name="field_692" id="field_692">
                <option value=""/>
                <option value="at1011||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1011], para el nodo [at1011], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1011], para el nodo [at1011], y el locale [es_AR]</option>
                <option value="at1012||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1012], para el nodo [at1012], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1012], para el nodo [at1012], y el locale [es_AR]</option>
              </select>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
