<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="OBSERVATION  ">
        <span class="label">Blood Pressure:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Systolic:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_820"> </label>
              <label class="field_821"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Diastolic:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_822"> </label>
              <label class="field_823"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Mean Arterial Pressure:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_824"> </label>
              <label class="field_825"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Pulse Pressure:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_826"> </label>
              <label class="field_827"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Comment:</span>
            <span class="content">
              <label class="field_828"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Position:</span>
            <span class="content">
              <label class="field_829"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Confounding factors:</span>
            <span class="content">
              <label class="field_830"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Sleep status:</span>
            <span class="content">
              <label class="field_831"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Tilt:</span>
            <span class="content">
(-90.0..90.0)              <label class="field_832"> </label>
              <label class="field_833"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Cuff size:</span>
            <span class="content">
              <label class="field_834"> </label>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Location:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Location of measurement:</span>
                <span class="content">
                  <label class="field_835"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Specific location:</span>
                <span class="content">
                  <label class="field_836"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Method:</span>
            <span class="content">
              <label class="field_837"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Mean Arterial Pressure Formula:</span>
            <span class="content">
              <label class="field_838"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Diastolic endpoint:</span>
            <span class="content">
              <label class="field_839"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
