<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="OBSERVATION  ">
        <span class="label">Blood Pressure:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Systolic:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_739"/>
              <input type="hidden" name="field_740" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Diastolic:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_741"/>
              <input type="hidden" name="field_742" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Mean Arterial Pressure:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_743"/>
              <input type="hidden" name="field_744" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Pulse Pressure:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_745"/>
              <input type="hidden" name="field_746" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Comment:</span>
            <span class="content">
              <textarea name="field_747"></textarea>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Position:</span>
            <span class="content">
              <select name="field_748" id="field_748">
                <option value=""/>
                <option value="at1000||Standing">Standing</option>
                <option value="at1001||Sitting">Sitting</option>
                <option value="at1002||Reclining">Reclining</option>
                <option value="at1003||Lying">Lying</option>
                <option value="at1014||Lying with tilt to left">Lying with tilt to left</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Confounding factors:</span>
            <span class="content">
              <textarea name="field_749"></textarea>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Estado de sueño:</span>
            <span class="content">
              <select name="field_750" id="field_750">
                <option value=""/>
                <option value="at1044||Despierto y conciente">Despierto y conciente</option>
                <option value="at1045||Durmiendo">Durmiendo</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Tilt:</span>
            <span class="content">
(-90.0..90.0)              <input type="text" name="field_751"/>
              <input type="hidden" name="field_752" value="°"/>
°            </span>
          </div>
          <div class="INTERVAL_EVENT  ">
            <span class="label">24 hour average :</span>
            <span class="content">
              <select name="field_753" id="field_753">
                <option value=""/>
                <option value="146||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v2 codigo [146], para el nodo [146], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v2 codigo [146], para el nodo [146], y el locale [es]</option>
              </select>
              <div class="DV_DURATION  ">
                <span class="content"/>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Systolic:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_754"/>
                  <input type="hidden" name="field_755" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Diastolic:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_756"/>
                  <input type="hidden" name="field_757" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Mean Arterial Pressure:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_758"/>
                  <input type="hidden" name="field_759" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Pulse Pressure:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_760"/>
                  <input type="hidden" name="field_761" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Comment:</span>
                <span class="content">
                  <textarea name="field_762"></textarea>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Position:</span>
                <span class="content">
                  <select name="field_763" id="field_763">
                    <option value=""/>
                    <option value="at1000||Standing">Standing</option>
                    <option value="at1001||Sitting">Sitting</option>
                    <option value="at1002||Reclining">Reclining</option>
                    <option value="at1003||Lying">Lying</option>
                    <option value="at1014||Lying with tilt to left">Lying with tilt to left</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Confounding factors:</span>
                <span class="content">
                  <textarea name="field_764"></textarea>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Estado de sueño:</span>
                <span class="content">
                  <select name="field_765" id="field_765">
                    <option value=""/>
                    <option value="at1044||Despierto y conciente">Despierto y conciente</option>
                    <option value="at1045||Durmiendo">Durmiendo</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Tilt:</span>
                <span class="content">
(-90.0..90.0)                  <input type="text" name="field_766"/>
                  <input type="hidden" name="field_767" value="°"/>
°                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Cuff size:</span>
            <span class="content">
              <select name="field_768" id="field_768">
                <option value=""/>
                <option value="at0015||Adult Thigh">Adult Thigh</option>
                <option value="at0016||Large Adult">Large Adult</option>
                <option value="at0017||Adult">Adult</option>
                <option value="at1008||Small Adult">Small Adult</option>
                <option value="at1009||Paediatric/Child">Paediatric/Child</option>
                <option value="at1018||Infant">Infant</option>
                <option value="at1019||Neonatal">Neonatal</option>
              </select>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Location:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Location of measurement:</span>
                <span class="content">
                  <select name="field_769" id="field_769">
                    <option value=""/>
                    <option value="at0025||Brazo derecho">Brazo derecho</option>
                    <option value="at0026||Brazo izquierdo">Brazo izquierdo</option>
                    <option value="at0027||Right thigh">Right thigh</option>
                    <option value="at0028||Left thigh">Left thigh</option>
                    <option value="at1020||Right wrist">Right wrist</option>
                    <option value="at1021||Left wrist">Left wrist</option>
                    <option value="at1026||Right ankle">Right ankle</option>
                    <option value="at1031||Left ankle">Left ankle</option>
                    <option value="at1032||Finger">Finger</option>
                    <option value="at1051||Toe">Toe</option>
                    <option value="at1053||Intra-arterial">Intra-arterial</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Specific location:</span>
                <span class="content">
                  <textarea name="field_770"></textarea>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Method:</span>
            <span class="content">
              <select name="field_771" id="field_771">
                <option value=""/>
                <option value="at1036||Auscultation">Auscultation</option>
                <option value="at1037||Palpation">Palpation</option>
                <option value="at1039||Machine">Machine</option>
                <option value="at1040||Invasive">Invasive</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Mean Arterial Pressure Formula:</span>
            <span class="content">
              <textarea name="field_772"></textarea>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Diastolic endpoint:</span>
            <span class="content">
              <select name="field_773" id="field_773">
                <option value=""/>
                <option value="at1011||Phase IV">Phase IV</option>
                <option value="at1012||Phase V">Phase V</option>
              </select>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
