<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="OBSERVATION  ">
        <span class="label">Blood Pressure:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Systolic:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_658"/>
              <input type="hidden" name="field_659" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Diastolic:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_660"/>
              <input type="hidden" name="field_661" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Mean Arterial Pressure:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_662"/>
              <input type="hidden" name="field_663" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Pulse Pressure:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_664"/>
              <input type="hidden" name="field_665" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Comment:</span>
            <span class="content">
              <textarea name="field_666"></textarea>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Position:</span>
            <span class="content">
              <select name="field_667" id="field_667">
                <option value=""/>
                <option value="at1000||Standing">Standing</option>
                <option value="at1001||Sitting">Sitting</option>
                <option value="at1002||Reclining">Reclining</option>
                <option value="at1003||Lying">Lying</option>
                <option value="at1014||Lying with tilt to left">Lying with tilt to left</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Confounding factors:</span>
            <span class="content">
              <textarea name="field_668"></textarea>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Sleep status:</span>
            <span class="content">
              <select name="field_669" id="field_669">
                <option value=""/>
                <option value="at1044||Alert &amp; awake">Alert &amp;amp; awake</option>
                <option value="at1045||Sleeping">Sleeping</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Tilt:</span>
            <span class="content">
(-90.0..90.0)              <input type="text" name="field_670"/>
              <input type="hidden" name="field_671" value="°"/>
°            </span>
          </div>
          <div class="INTERVAL_EVENT  ">
            <span class="label">24 hour average :</span>
            <span class="content">
              <select name="field_672" id="field_672">
                <option value=""/>
                <option value="146||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [146], para el nodo [146], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [146], para el nodo [146], y el locale [en]</option>
              </select>
              <div class="DV_DURATION  ">
                <span class="content"/>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Systolic:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_673"/>
                  <input type="hidden" name="field_674" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Diastolic:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_675"/>
                  <input type="hidden" name="field_676" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Mean Arterial Pressure:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_677"/>
                  <input type="hidden" name="field_678" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Pulse Pressure:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_679"/>
                  <input type="hidden" name="field_680" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Comment:</span>
                <span class="content">
                  <textarea name="field_681"></textarea>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Position:</span>
                <span class="content">
                  <select name="field_682" id="field_682">
                    <option value=""/>
                    <option value="at1000||Standing">Standing</option>
                    <option value="at1001||Sitting">Sitting</option>
                    <option value="at1002||Reclining">Reclining</option>
                    <option value="at1003||Lying">Lying</option>
                    <option value="at1014||Lying with tilt to left">Lying with tilt to left</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Confounding factors:</span>
                <span class="content">
                  <textarea name="field_683"></textarea>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Sleep status:</span>
                <span class="content">
                  <select name="field_684" id="field_684">
                    <option value=""/>
                    <option value="at1044||Alert &amp; awake">Alert &amp;amp; awake</option>
                    <option value="at1045||Sleeping">Sleeping</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Tilt:</span>
                <span class="content">
(-90.0..90.0)                  <input type="text" name="field_685"/>
                  <input type="hidden" name="field_686" value="°"/>
°                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Cuff size:</span>
            <span class="content">
              <select name="field_687" id="field_687">
                <option value=""/>
                <option value="at0015||Adult Thigh">Adult Thigh</option>
                <option value="at0016||Large Adult">Large Adult</option>
                <option value="at0017||Adult">Adult</option>
                <option value="at1008||Small Adult">Small Adult</option>
                <option value="at1009||Paediatric/Child">Paediatric/Child</option>
                <option value="at1018||Infant">Infant</option>
                <option value="at1019||Neonatal">Neonatal</option>
              </select>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Location:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Location of measurement:</span>
                <span class="content">
                  <select name="field_688" id="field_688">
                    <option value=""/>
                    <option value="at0025||Right arm">Right arm</option>
                    <option value="at0026||Left arm">Left arm</option>
                    <option value="at0027||Right thigh">Right thigh</option>
                    <option value="at0028||Left thigh">Left thigh</option>
                    <option value="at1020||Right wrist">Right wrist</option>
                    <option value="at1021||Left wrist">Left wrist</option>
                    <option value="at1026||Right ankle">Right ankle</option>
                    <option value="at1031||Left ankle">Left ankle</option>
                    <option value="at1032||Finger">Finger</option>
                    <option value="at1051||Toe">Toe</option>
                    <option value="at1053||Intra-arterial">Intra-arterial</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Specific location:</span>
                <span class="content">
                  <textarea name="field_689"></textarea>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Method:</span>
            <span class="content">
              <select name="field_690" id="field_690">
                <option value=""/>
                <option value="at1036||Auscultation">Auscultation</option>
                <option value="at1037||Palpation">Palpation</option>
                <option value="at1039||Machine">Machine</option>
                <option value="at1040||Invasive">Invasive</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Mean Arterial Pressure Formula:</span>
            <span class="content">
              <textarea name="field_691"></textarea>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Diastolic endpoint:</span>
            <span class="content">
              <select name="field_692" id="field_692">
                <option value=""/>
                <option value="at1011||Phase IV">Phase IV</option>
                <option value="at1012||Phase V">Phase V</option>
              </select>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
