<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="OBSERVATION   field_636 ">
        <span class="label">test cluster obligatorio multiple:</span>
        <span class="content">
          <div class="CLUSTER   field_637 multiple">
            <span class="label">cluster:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_BOOLEAN field_638 field_639 ">
                <span class="label">boolean:</span>
                <span class="content">
                  <select name="field_634">
                    <option value=""/>
                    <option value="label.boolean.true">Si</option>
                    <option value="label.boolean.false">No</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT field_635 field_640 ">
                <span class="label">text:</span>
                <span class="content">
                  <textarea name="field_635"></textarea>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
