<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content"/>
  </tr>
  <tr>
    <td id="left">
      <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
        <span class="label">Oxígeno con MFL:</span>
        <span class="content">
          <label class="field_124"/>
        </span>
      </div>
      <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
        <span class="label">Apoyo ventilatorio con B-V-M:</span>
        <span class="content">
          <label class="field_125"/>
        </span>
      </div>
      <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
        <span class="label">Intubación orotraqueal:</span>
        <span class="content">
          <label class="field_126"/>
        </span>
      </div>
      <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
        <span class="label">Máscara laringea:</span>
        <span class="content">
          <label class="field_127"/>
        </span>
      </div>
      <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
        <span class="label">Vía aérea quirúrgica:</span>
        <span class="content">
          <label class="field_128"/>
        </span>
      </div>
      <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
        <span class="label">Collar cervical:</span>
        <span class="content">
          <label class="field_129"/>
        </span>
      </div>
      <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
        <span class="label">Empaquetado:</span>
        <span class="content">
          <label class="field_130"/>
        </span>
      </div>
      <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
        <span class="label">Drenaje de neumotórax a tensión:</span>
        <span class="content">
          <label class="field_131"/>
        </span>
      </div>
      <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
        <span class="label">Torniquete:</span>
        <span class="content">
          <label class="field_132"/>
        </span>
      </div>
      <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
        <span class="label">Férulas en miembros:</span>
        <span class="content">
          <label class="field_133"/>
        </span>
      </div>
      <div class="ELEMENT ELEMENT_DV_TEXT ">
        <span class="label">Inotrópicos prehospitalarios:</span>
        <span class="content">
          <label class="field_134"/>
        </span>
      </div>
      <div class="CLUSTER  ">
        <span class="label">Sedación prehospitalaria:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Sedación:</span>
            <span class="content">
              <label class="field_135"/>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Otras drogas:</span>
            <span class="content">
              <label class="field_136"/>
            </span>
          </div>
        </span>
      </div>
      <div class="ACTION  ">
        <span class="label">Resumen de actuación:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Diagnóstico / Actuación:</span>
            <span class="content">
              <label class="field_137"/>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_DATE_TIME ">
            <span class="label">Fecha y Hora de evaluación:</span>
            <span class="content">
              <label class="field_138"/>
            </span>
          </div>
        </span>
      </div>
    </td>
    <td id="right">
      <div class="CLUSTER  ">
        <span class="label">Reposición prehospitalaria:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Duración:</span>
            <span class="content">
(*..*)              <label class="field_19"/>
              <label class="field_20"/>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Tipo:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Suero SF:</span>
                <span class="content">
(*..*)                  <label class="field_21"/>
                  <label class="field_22"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Suero Ringer Lactado:</span>
                <span class="content">
(*..*)                  <label class="field_23"/>
                  <label class="field_24"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Coloides:</span>
                <span class="content">
(*..*)                  <label class="field_25"/>
                  <label class="field_26"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Glóbulos rojos:</span>
                <span class="content">
(*..*)                  <label class="field_27"/>
                  <label class="field_28"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Plasma:</span>
                <span class="content">
(*..*)                  <label class="field_29"/>
                  <label class="field_30"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Plaquetas:</span>
                <span class="content">
(*..*)                  <label class="field_31"/>
                  <label class="field_32"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Cristaloides:</span>
                <span class="content">
(*..*)                  <label class="field_33"/>
                  <label class="field_34"/>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
      <div class="CLUSTER  ">
        <span class="label">VVPs:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_COUNT ">
            <span class="label">Número de vías:</span>
            <span class="content">
(
    0
..
    10
)              <label class="field_13"/>
            </span>
          </div>
          <div class="CLUSTER  multiple">
            <span class="label">VVP:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Topografía:</span>
                <span class="content">
                  <label class="field_14"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvOrdinal ">
                <span class="label">Calibre:</span>
                <span class="content">
                  <label class="field_15"/>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
      <div class="CLUSTER  ">
        <span class="label">VVCs:</span>
        <span class="content">
          <div class="CLUSTER  ">
            <span class="label">VVC:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Yugular interna:</span>
                <span class="content">
                  <label class="field_16"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Subclavia:</span>
                <span class="content">
                  <label class="field_17"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Femoral:</span>
                <span class="content">
                  <label class="field_18"/>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">VVC:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Yugular interna:</span>
                <span class="content">
                  <label class="field_16"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Subclavia:</span>
                <span class="content">
                  <label class="field_17"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Femoral:</span>
                <span class="content">
                  <label class="field_18"/>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
