<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="ELEMENT ELEMENT_DvOrdinal ">
        <span class="label">Evaluación de triage:</span>
        <span class="content">
          <label class="field_117"/>
        </span>
      </div>
      <div class="ELEMENT ELEMENT_DV_DATE_TIME ">
        <span class="label">Fecha y Hora de evaluación:</span>
        <span class="content">
          <label class="field_118"/>
        </span>
      </div>
      <div class="ELEMENT ELEMENT_DV_TEXT ">
        <span class="label">Justificación de evaluación:</span>
        <span class="content">
          <label class="field_119"/>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
