<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="OBSERVATION  ">
        <span class="label">test cluster obligatorio multiple struct:</span>
        <span class="content">
          <div class="CLUSTER  multiple">
            <span class="label">cluster:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">quantity 1:</span>
                <span class="content">
(*..*)                  <input type="text" name="field_628"/>
                  <select name="field_629" id="field_629">
                    <option value=""/>
                    <option value="mm[Hg]">mm[Hg]</option>
                    <option value="N/m2">N/m2</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">quantity 2:</span>
                <span class="content">
(*..*)                  <input type="text" name="field_630"/>
                  <select name="field_631" id="field_631">
                    <option value=""/>
                    <option value="%">%</option>
                    <option value="[ppm]">[ppm]</option>
                  </select>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
