<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="OBSERVATION  ">
        <span class="label">Resumen clínico:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT multiple">
            <span class="label">Motivo de consulta:</span>
            <span class="content">
              <select name="field_209" id="field_209">
                <option value=""/>
                <option value="evento.tipo.transito||Traumatizado por colisión vehicular">Traumatizado por colisión vehicular</option>
                <option value="evento.tipo.peaton||Peatón embestido">Peatón embestido</option>
                <option value="evento.tipo.precipitado||Precipitado">Precipitado</option>
                <option value="evento.tipo.caida||Caída desde su altura">Caída desde su altura</option>
                <option value="evento.tipo.quemadura||Injuria por quemadura">Injuria por quemadura</option>
                <option value="evento.tipo.frio||Injuria por frío">Injuria por frío</option>
                <option value="evento.tipo.hpaf||Herida(s) por proyectil(es) de arma de fuego">Herida(s) por proyectil(es) de arma de fuego</option>
                <option value="evento.tipo.hpc||Herida(s) punzocortante(s)">Herida(s) punzocortante(s)</option>
              </select>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">AMPLE:</span>
            <span class="content">
              <div class="CLUSTER  ">
                <span class="label">Alergias:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Opciones:</span>
                    <span class="content">
                      <select name="field_210" id="field_210">
                        <option value=""/>
                        <option value="at0007||Penicilina">Penicilina</option>
                        <option value="at0008||Dipirona">Dipirona</option>
                        <option value="at0009||Yodo (medios de contraste)">Yodo (medios de contraste)</option>
                      </select>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_TEXT ">
                    <span class="label">Otros:</span>
                    <span class="content">
                      <textarea name="field_211"></textarea>
                    </span>
                  </div>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Medicamentos usados actualmente:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Opciones:</span>
                    <span class="content">
                      <select name="field_212" id="field_212">
                        <option value=""/>
                        <option value="at0012||Warfarina">Warfarina</option>
                        <option value="at0013||Betabloqueantes">Betabloqueantes</option>
                        <option value="at0014||Aspirina">Aspirina</option>
                      </select>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_TEXT ">
                    <span class="label">Otros:</span>
                    <span class="content">
                      <textarea name="field_213"></textarea>
                    </span>
                  </div>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Enfermedades y operaciones pasadas:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Opciones:</span>
                    <span class="content">
                      <select name="field_214" id="field_214">
                        <option value=""/>
                        <option value="at0019||Antecedentes de trauma">Antecedentes de trauma</option>
                        <option value="at0020||Cardiopatía isquémica">Cardiopatía isquémica</option>
                        <option value="at0021||HTA">HTA</option>
                        <option value="at0022||Asma">Asma</option>
                        <option value="at0023||EPOC">EPOC</option>
                        <option value="at0024||Diabetes">Diabetes</option>
                        <option value="at0025||Obesidad">Obesidad</option>
                      </select>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_TEXT ">
                    <span class="label">Otros:</span>
                    <span class="content">
                      <textarea name="field_215"></textarea>
                    </span>
                  </div>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Última comida:</span>
                <span class="content">
                  <textarea name="field_216"></textarea>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Eventos y ambiente relacionados con la lesión:</span>
                <span class="content">
                  <textarea name="field_217"></textarea>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Resumen clínico:</span>
            <span class="content">
              <textarea name="field_218"></textarea>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
