<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content"/>
  </tr>
  <tr>
    <td id="left">
      <div class="EVALUATION  ">
        <span class="label">Columna vertebral:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Exploracion clinica cervical anormal:</span>
            <span class="content">
              <label class="field_288"/>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Indicacion de collar cervical:</span>
            <span class="content">
              <label class="field_289"/>
            </span>
          </div>
        </span>
      </div>
    </td>
    <td id="right">
      <div class="ACTION  ">
        <span class="label">Columna vertebral:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Collar cervical:</span>
            <span class="content">
              <label class="field_290"/>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Inmovilizacion (empaquetado):</span>
            <span class="content">
              <label class="field_291"/>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" id="bottom">
      <div class="ACTION  ">
        <span class="label">Resumen de actuación:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Diagnóstico / Actuación:</span>
            <span class="content">
              <label class="field_137"/>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_DATE_TIME ">
            <span class="label">Fecha y Hora de evaluación:</span>
            <span class="content">
              <label class="field_138"/>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
</table>
