<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content"/>
  </tr>
  <tr>
    <td id="left">
      <div class="ELEMENT ELEMENT_DvQuantity ">
        <span class="label">Frecuencia cardíaca:</span>
        <span class="content">
(*..*)          <label class="field_1"/>
          <label class="field_2"/>
        </span>
      </div>
      <div class="ELEMENT ELEMENT_DvQuantity ">
        <span class="label">Frecuencia respiratoria:</span>
        <span class="content">
(0.0..200.0)          <label class="field_3"/>
          <label class="field_4"/>
        </span>
      </div>
      <div class="CLUSTER  ">
        <span class="label">Presión arterial:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Presión sistólica:</span>
            <span class="content">
(*..*)              <label class="field_5"/>
              <label class="field_6"/>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Presión diastólica:</span>
            <span class="content">
(*..*)              <label class="field_7"/>
              <label class="field_8"/>
            </span>
          </div>
        </span>
      </div>
      <div class="OBSERVATION  ">
        <span class="label">Escala de coma de Glasgow:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvOrdinal ">
            <span class="label">Mejor respuesta ocular:</span>
            <span class="content">
              <label class="field_9"/>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvOrdinal ">
            <span class="label">Mejor respuesta verbal:</span>
            <span class="content">
              <label class="field_10"/>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvOrdinal ">
            <span class="label">Mejor respuesta motora:</span>
            <span class="content">
              <label class="field_11"/>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_COUNT ">
            <span class="label">Escala final:</span>
            <span class="content">
(
    3
..
    15
)              <label class="field_12"/>
            </span>
          </div>
        </span>
      </div>
    </td>
    <td id="right">
      <div class="ACTION  ">
        <span class="label">Vias venosas prehospitalario:</span>
        <span class="content">
          <div class="CLUSTER  ">
            <span class="label">VVPs:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_COUNT ">
                <span class="label">Número de vías:</span>
                <span class="content">
(
    0
..
    10
)                  <label class="field_13"/>
                </span>
              </div>
              <div class="CLUSTER  multiple">
                <span class="label">VVP:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Topografía:</span>
                    <span class="content">
                      <label class="field_14"/>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DvOrdinal ">
                    <span class="label">Calibre:</span>
                    <span class="content">
                      <label class="field_15"/>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">VVCs:</span>
            <span class="content">
              <div class="CLUSTER  ">
                <span class="label">VVC:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Yugular interna:</span>
                    <span class="content">
                      <label class="field_16"/>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Subclavia:</span>
                    <span class="content">
                      <label class="field_17"/>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Femoral:</span>
                    <span class="content">
                      <label class="field_18"/>
                    </span>
                  </div>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">VVC:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Yugular interna:</span>
                    <span class="content">
                      <label class="field_16"/>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Subclavia:</span>
                    <span class="content">
                      <label class="field_17"/>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Femoral:</span>
                    <span class="content">
                      <label class="field_18"/>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
      <div class="CLUSTER  ">
        <span class="label">Reposición prehospitalaria:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Duración:</span>
            <span class="content">
(*..*)              <label class="field_19"/>
              <label class="field_20"/>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Tipo:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Suero SF:</span>
                <span class="content">
(*..*)                  <label class="field_21"/>
                  <label class="field_22"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Suero Ringer Lactado:</span>
                <span class="content">
(*..*)                  <label class="field_23"/>
                  <label class="field_24"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Coloides:</span>
                <span class="content">
(*..*)                  <label class="field_25"/>
                  <label class="field_26"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Glóbulos rojos:</span>
                <span class="content">
(*..*)                  <label class="field_27"/>
                  <label class="field_28"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Plasma:</span>
                <span class="content">
(*..*)                  <label class="field_29"/>
                  <label class="field_30"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Plaquetas:</span>
                <span class="content">
(*..*)                  <label class="field_31"/>
                  <label class="field_32"/>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Cristaloides:</span>
                <span class="content">
(*..*)                  <label class="field_33"/>
                  <label class="field_34"/>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
