<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content"/>
  </tr>
  <tr>
    <td id="left">
      <div class="ELEMENT ELEMENT_DvQuantity ">
        <span class="label">Frecuencia respiratoria:</span>
        <span class="content">
(0.0..200.0)          <label class="field_3"/>
          <label class="field_4"/>
        </span>
      </div>
      <div class="EVALUATION  ">
        <span class="label">Evaluación de respiración / ventilación:</span>
        <span class="content">
          <div class="CLUSTER  ">
            <span class="label">Entrada de aire:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Buena entrada bilateral:</span>
                <span class="content">
                  <label class="field_302"/>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Problemas:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Hipoventila a izquierda:</span>
                    <span class="content">
                      <label class="field_303"/>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Hipoventila a derecha:</span>
                    <span class="content">
                      <label class="field_304"/>
                    </span>
                  </div>
                  <div class="CLUSTER  ">
                    <span class="label">Estertores:</span>
                    <span class="content">
                      <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                        <span class="label">Izquierda:</span>
                        <span class="content">
                          <label class="field_305"/>
                        </span>
                      </div>
                      <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                        <span class="label">Derecha:</span>
                        <span class="content">
                          <label class="field_306"/>
                        </span>
                      </div>
                      <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                        <span class="label">Tipo:</span>
                        <span class="content">
                          <label class="field_307"/>
                        </span>
                      </div>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Ocupación pleural:</span>
            <span class="content">
              <div class="CLUSTER  ">
                <span class="label">Derecha:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Por aire:</span>
                    <span class="content">
                      <label class="field_308"/>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Por Sangre:</span>
                    <span class="content">
                      <label class="field_309"/>
                    </span>
                  </div>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Izquierda:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Por aire:</span>
                    <span class="content">
                      <label class="field_310"/>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Por sangre:</span>
                    <span class="content">
                      <label class="field_311"/>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </td>
    <td id="right">
      <div class="ACTION  ">
        <span class="label">Acciones sobre respiración / ventilación:</span>
        <span class="content">
          <div class="CLUSTER  ">
            <span class="label">Drenaje:</span>
            <span class="content">
              <div class="CLUSTER  ">
                <span class="label">Hemoneumotórax:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Ubicación:</span>
                    <span class="content">
                      <label class="field_312"/>
                    </span>
                  </div>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Neumotórax:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Ubicación:</span>
                    <span class="content">
                      <label class="field_313"/>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Tipo:</span>
                    <span class="content">
                      <label class="field_314"/>
                    </span>
                  </div>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Hemotórax:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Ubicación:</span>
                    <span class="content">
                      <label class="field_315"/>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Detalles del procedimiento:</span>
            <span class="content">
              <label class="field_316"/>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" id="bottom">
      <div class="ACTION  ">
        <span class="label">Resumen de actuación:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Diagnóstico / Actuación:</span>
            <span class="content">
              <label class="field_137"/>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_DATE_TIME ">
            <span class="label">Fecha y Hora de evaluación:</span>
            <span class="content">
              <label class="field_138"/>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
</table>
