body {
  font-family: verdana, tahoma;
  font-size: 12px;
  margin: 0px;
}
#body {
  padding: 3px;
  margin-bottom: 25px;
}
#body > table { /* Centrado del contenido del layout ehr */
 margin-right: auto;
 margin-left: auto;
}
#body_table {
  width: 850px;
  background-color: #efefef;
  border: 1px solid #aaaaaa;
  padding: 10px;
}

.top_actions {
  background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
  border: 1px solid #ccc;
  border-style: solid none solid none;  
  margin-top: 5px;
  padding: 7px 12px;
}
.top_actions ul {
  list-style: none;
  display: inline;
  margin: 0px;
  padding: 0px 10px 0px 10px;
}
.top_actions li {
  font-size: 12px;
  padding: 0 5px;
  display: inline;
}
.top_actions a {
  color: #333;
  padding: 4px 6px;
  text-decoration: none;
}
.top_actions a:hover {
  text-decoration: underline;
}
.top_actions a.home {
  background: url(../images/skin/house.png) center left no-repeat;
  color: #333;
  padding-left: 25px;
}
.top_actions a.list {
  background: url(../images/skin/database_table.png) center left no-repeat;
  color: #333;
  padding-left: 25px;
}
.top_actions a.create {
  background: url(../images/skin/database_add.png) center left no-repeat;
  color: #333;
  padding-left: 25px;
}
.top_actions a.back {
  background: url(../images/skin/back.png) center left no-repeat;
  color: #333;
  padding-left: 25px;
}

.error {
  /* TODO: meter icono de error ! */
  border: 1px solid #f00;
  background-color: #f99;
  padding: 2px;
  margin-bottom: 3px;
}
.error ul {
  list-style:none;
  margin:0;
  padding:0;
}
.ehrform {
  border: 1px solid #000000;
  padding: 6px;
  background-color: #ffffdd;
  overflow: auto;
}
.ehrform table {
  width: 100%;
}
#infoPaciente {
  width: 180px;
  padding: 10px;
  background-color: #ccccff;
  border: 1px solid #6666aa;
  min-height: 100px;
  font-size: 14px;
  margin-left: 3px;
}
#resumen_episodio {
  padding: 10px;
  background-color: #ccccff;
  border: 1px solid #6666aa;
  margin-bottom: 10px;
  overflow: auto;
}

h1 {
  font-size: 14px;
  margin-top: 0;
}
h2 {
  margin-top: 0px;
  font-size: 12px;
}
td {
  vertical-align: top;
  font-family: verdana, tahoma;
  font-size: 12px;
}
span.currentDate {
  padding-right: 10px;
}

ul.userBar {
  list-style: none;
  display: inline;
  margin: 0px;
  padding: 0px 10px 0px 0px;
  font-size: 0.8em;
}
ul.userBar li {
  display: inline;
  color: #666;
}
ul.userBar li a {
  margin-top: 6px;
  padding: 3px 10px 5px 10px;
  text-decoration:none;
  color: #597a80;
  border: solid 1px #aaaaaa;
  background-color: #f2f2f2;
}
ul.userBar li a:hover {
  color: #000000;
  background-color: #ffee00;
}
ul.userBar li.active a {
  color: #000000;
  border: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
}

#menu {
  width: 180px;
  /*left: 0px;*/
  /*top: 110px;*/
  /*height: auto;*/
  padding-top: 3px; /* Espacio vertical entre la info del paciente y el menu */
  /*padding-bottom: 20px;*/
  /*vertical-align: top;*/
}
#menu ul {
  list-style:none;
  margin:0;
  padding:0;
  /*float:right;*/
}
#menu ul li {
  margin-bottom:3px;
  padding:0;
  /*width: 200px;*/
  /*margin-left: 10px;*/
}
#menu li a {
  display: block;
  width: 193px;
  padding: 7px 2px 7px 7px;
  text-decoration:none;
  /*text-align:center;*/
  /*
  font-weight:bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  */
  color: #597a80;
  background-color:#C8EDFF;
  margin-left: 3px;
}
/* no tiene permisos para botones del menu */
#menu li a.unavailable {
 color: #aaa;
}
#menu li a:hover {
  color: #000000;
  background-color:#ffee00;
}
#menu li.active a {
  color: #000000;
  padding: 7px 5px 7px 7px;
  background-color: #efefef; /*ADDEE4;*/
  border: 1px solid #aaaaaa;
  border-left: 0px; /* para que lo muestre unido al body */
  margin-left: -1px; /* para que lo muestre unido al body */
  font-weight:bold;
}
#body_table table {
  background-color: #ffffdd;
  width: 100%;
  font-size: 12px;
  border: 1px solid #000;
}
#body_table th {
  background-color: #ccccdd;
}
#body_table td {
}

/* tabla interna que organiza los elementos en content, left, right y bottom,
   no quiero el borde que pone la regla #body table */
#body table.container {
  border: none;
  padding: 0px;
}

/* div inferior con acciones sobre el registro. */
.bottom_actions {
  text-align: right;
}

/* div que muestra informacion del usuario logueado */
#user_bar {
  background-color: #eeeeee;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px;
  border-bottom: 1px solid #aaaaaa;
}
#user_bar .user_actions {
  float: right;
}

#bottom_div {
  background-color: #eeeeee;
  padding: 5px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  border-top: 1px solid #000;
  width: 100%;
  position: fixed;
  bottom: 0px;
  font-size: 10px;
}

/* Link de ENTRY con multiples EVENTs para seleccionar uno */
a.event.active {
 font-weight: bold;
}

.center_td td {
 text-align: center;
}

.message {
  padding: 10px;
  background-color: #ffff80;
  border: 1px solid #666680;
  margin-bottom: 5px;
}