<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content"/>
  </tr>
  <tr>
    <td id="left">
      <div class="ADMIN_ENTRY  ">
        <span class="label">contexto del evento traumatico:</span>
        <span class="content">
          <div class="CLUSTER  ">
            <span class="label">Tipo de ubicacion:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Opciones:</span>
                <span class="content">
                  <label class="field_170"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Otros datos:</span>
                <span class="content">
                  <label class="field_171"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Procedencia:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Escena:</span>
                <span class="content">
                  <label class="field_172"> </label>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Otro centro asistencial:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Hospital del interior:</span>
                    <span class="content">
                      <label class="field_173"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Centro coordinado del cerro:</span>
                    <span class="content">
                      <label class="field_174"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_TEXT ">
                    <span class="label">Otro centro:</span>
                    <span class="content">
                      <label class="field_175"> </label>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_COUNT ">
            <span class="label">Numero de traslados secundarios:</span>
            <span class="content">
(*..*)              <label class="field_176"> </label>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Trasladado por:</span>
            <span class="content">
              <div class="CLUSTER  ">
                <span class="label">Ambulancia:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Empresa:</span>
                    <span class="content">
                      <label class="field_177"> </label>
                    </span>
                  </div>
                  <div class="CLUSTER  ">
                    <span class="label">Medico actuante:</span>
                    <span class="content">
                      <div class="ELEMENT ELEMENT_DV_TEXT ">
                        <span class="label">Nombre:</span>
                        <span class="content">
                          <label class="field_178"> </label>
                        </span>
                      </div>
                      <div class="ELEMENT ELEMENT_DV_TEXT ">
                        <span class="label">Cedula de identidad:</span>
                        <span class="content">
                          <label class="field_179"> </label>
                        </span>
                      </div>
                    </span>
                  </div>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Policia:</span>
                <span class="content">
                  <label class="field_180"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Particular:</span>
                <span class="content">
                  <label class="field_181"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Otro:</span>
                <span class="content">
                  <label class="field_182"> </label>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </td>
    <td id="right">
      <div class="ADMIN_ENTRY  ">
        <span class="label">ubicacion geografica:</span>
        <span class="content">
          <div class="CLUSTER  ">
            <span class="label">Ubicacion:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Departamento:</span>
                <span class="content">
                  <label class="field_84"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Localidad:</span>
                <span class="content">
                  <label class="field_85"> </label>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Via:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_TEXT ">
                    <span class="label">Nombre:</span>
                    <span class="content">
                      <label class="field_86"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Tipo:</span>
                    <span class="content">
                      <label class="field_87"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_COUNT ">
                    <span class="label">Numero:</span>
                    <span class="content">
(*..*)                      <label class="field_88"> </label>
                    </span>
                  </div>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Cruce:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_TEXT ">
                    <span class="label">Nombre:</span>
                    <span class="content">
                      <label class="field_89"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Tipo:</span>
                    <span class="content">
                      <label class="field_90"> </label>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
