<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="OBSERVATION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.resumen_clinico.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT multiple">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.resumen_clinico.v1 codigo [at0035], para el nodo [at0035], y el locale [en]:</span>
            <span class="content">
              <label class="field_211"> </label>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.resumen_clinico.v1 codigo [at0034], para el nodo [at0034], y el locale [en]:</span>
            <span class="content">
              <div class="CLUSTER  ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.resumen_clinico.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.resumen_clinico.v1 codigo [at0005], para el nodo [at0005], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_212"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.resumen_clinico.v1 codigo [at0006], para el nodo [at0006], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_213"> </label>
                    </span>
                  </div>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.resumen_clinico.v1 codigo [at0010], para el nodo [at0010], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.resumen_clinico.v1 codigo [at0011], para el nodo [at0011], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_214"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.resumen_clinico.v1 codigo [at0015], para el nodo [at0015], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_215"> </label>
                    </span>
                  </div>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.resumen_clinico.v1 codigo [at0016], para el nodo [at0016], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.resumen_clinico.v1 codigo [at0017], para el nodo [at0017], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_216"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.resumen_clinico.v1 codigo [at0018], para el nodo [at0018], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_217"> </label>
                    </span>
                  </div>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.resumen_clinico.v1 codigo [at0031], para el nodo [at0031], y el locale [en]:</span>
                <span class="content">
                  <label class="field_218"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.resumen_clinico.v1 codigo [at0032], para el nodo [at0032], y el locale [en]:</span>
                <span class="content">
                  <label class="field_219"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.resumen_clinico.v1 codigo [at0033], para el nodo [at0033], y el locale [en]:</span>
            <span class="content">
              <label class="field_220"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
