<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content"/>
  </tr>
  <tr>
    <td id="left">
      <div class="EVALUATION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.disfuncion_neurologica.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.disfuncion_neurologica.v1 codigo [at0002], para el nodo [at0002], y el locale [en]:</span>
            <span class="content">
              <label class="field_451"> </label>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.disfuncion_neurologica.v1 codigo [at0003], para el nodo [at0003], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.disfuncion_neurologica.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
                <span class="content">
                  <label class="field_452"> </label>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.disfuncion_neurologica.v1 codigo [at0005], para el nodo [at0005], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DvOrdinal ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.disfuncion_neurologica.v1 codigo [at0006], para el nodo [at0006], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_453"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DvOrdinal ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.disfuncion_neurologica.v1 codigo [at0007], para el nodo [at0007], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_454"> </label>
                    </span>
                  </div>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.disfuncion_neurologica.v1 codigo [at0020], para el nodo [at0020], y el locale [en]:</span>
                <span class="content">
                  <label class="field_455"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvOrdinal ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.disfuncion_neurologica.v1 codigo [at0021], para el nodo [at0021], y el locale [en]:</span>
            <span class="content">
              <label class="field_456"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
    <td id="right">
      <div class="OBSERVATION  ">
        <span class="label">Glasgow Coma Scale:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvOrdinal ">
            <span class="label">Best eye response:</span>
            <span class="content">
              <label class="field_9"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvOrdinal ">
            <span class="label">Best verbal response:</span>
            <span class="content">
              <label class="field_10"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvOrdinal ">
            <span class="label">Best motor response:</span>
            <span class="content">
              <label class="field_11"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_COUNT ">
            <span class="label">Score:</span>
            <span class="content">
(
    3
..
    15
)              <label class="field_12"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" id="bottom">
      <div class="ACTION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.resumen_actuacion.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.resumen_actuacion.v1 codigo [at0002], para el nodo [at0002], y el locale [en]:</span>
            <span class="content">
              <label class="field_139"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_DATE_TIME ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.resumen_actuacion.v1 codigo [at0005], para el nodo [at0005], y el locale [en]:</span>
            <span class="content">
              <label class="field_140"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
</table>
