<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content"/>
  </tr>
  <tr>
    <td id="left">
      <div class="OBSERVATION  ">
        <span class="label">Temperatura:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Temperatura:</span>
            <span class="content">
(0.0..60.0)              <label class="field_547"> </label>
              <label class="field_548"> </label>
            </span>
          </div>
        </span>
      </div>
      <div class="OBSERVATION  ">
        <span class="label">Exposicion corporal:</span>
        <span class="content">
          <div class="CLUSTER  ">
            <span class="label">Cráneo y cara:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos generales:</span>
                <span class="content">
                  <label class="field_549"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos generales:</span>
                <span class="content">
                  <label class="field_549"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos generales:</span>
                <span class="content">
                  <label class="field_549"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Cuello:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos generales:</span>
                <span class="content">
                  <label class="field_550"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos generales:</span>
                <span class="content">
                  <label class="field_550"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos generales:</span>
                <span class="content">
                  <label class="field_550"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Tórax:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos generales:</span>
                <span class="content">
                  <label class="field_551"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos generales:</span>
                <span class="content">
                  <label class="field_551"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos generales:</span>
                <span class="content">
                  <label class="field_551"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Abdomen:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos generales:</span>
                <span class="content">
                  <label class="field_552"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos generales:</span>
                <span class="content">
                  <label class="field_552"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos generales:</span>
                <span class="content">
                  <label class="field_552"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos abdomen:</span>
                <span class="content">
                  <label class="field_553"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Pelvis:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos generales:</span>
                <span class="content">
                  <label class="field_554"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos generales:</span>
                <span class="content">
                  <label class="field_554"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos generales:</span>
                <span class="content">
                  <label class="field_554"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Miembros:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos generales:</span>
                <span class="content">
                  <label class="field_555"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos generales:</span>
                <span class="content">
                  <label class="field_555"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos generales:</span>
                <span class="content">
                  <label class="field_555"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos en miembros:</span>
                <span class="content">
                  <label class="field_556"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos en miembros:</span>
                <span class="content">
                  <label class="field_556"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Hallazgos en miembros:</span>
                <span class="content">
                  <label class="field_556"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Otras lesiones externas:</span>
            <span class="content">
              <label class="field_557"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Genitourinario/recto:</span>
            <span class="content">
              <label class="field_558"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
    <td id="right">
      <div class="ACTION  ">
        <span class="label">Exposicion corporal:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Sonda nasogástrica:</span>
            <span class="content">
              <label class="field_559"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Sonda vesical:</span>
            <span class="content">
              <label class="field_560"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Talla suprapúbica:</span>
            <span class="content">
              <label class="field_561"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Férulas:</span>
            <span class="content">
              <label class="field_562"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Detalles del procedimiento:</span>
            <span class="content">
              <label class="field_563"> </label>
            </span>
          </div>
        </span>
      </div>
      <div class="OBSERVATION  ">
        <span class="label">Imágenes:</span>
        <span class="content">
          <div class="CLUSTER  multiple">
            <span class="label">Imagen:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_MULTIMEDIA ">
                <span class="label">Imagen:</span>
                <span class="content">
                  <div class="DV_MULTIMEDIA  ">
                    <span class="content"/>
                  </div>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Descripción:</span>
                <span class="content">
                  <label class="field_565"> </label>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" id="bottom">
      <div class="ACTION  ">
        <span class="label">Resumen de actuación:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Diagnóstico / Actuación:</span>
            <span class="content">
              <label class="field_139"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_DATE_TIME ">
            <span class="label">Fecha y Hora de evaluación:</span>
            <span class="content">
              <label class="field_140"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
</table>
