<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content"/>
  </tr>
  <tr>
    <td id="left">
      <div class="ELEMENT ELEMENT_DvQuantity ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.frecuencia_respiratoria.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
        <span class="content">
(0.0..200.0)          <label class="field_3"> </label>
          <label class="field_4"> </label>
        </span>
      </div>
      <div class="EVALUATION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.ventilacion.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.ventilacion.v1 codigo [at0002], para el nodo [at0002], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.ventilacion.v1 codigo [at0003], para el nodo [at0003], y el locale [en]:</span>
                <span class="content">
                  <label class="field_304"> </label>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.ventilacion.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.ventilacion.v1 codigo [at0005], para el nodo [at0005], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_305"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.ventilacion.v1 codigo [at0006], para el nodo [at0006], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_306"> </label>
                    </span>
                  </div>
                  <div class="CLUSTER  ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.ventilacion.v1 codigo [at0007], para el nodo [at0007], y el locale [en]:</span>
                    <span class="content">
                      <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.ventilacion.v1 codigo [at0008], para el nodo [at0008], y el locale [en]:</span>
                        <span class="content">
                          <label class="field_307"> </label>
                        </span>
                      </div>
                      <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.ventilacion.v1 codigo [at0009], para el nodo [at0009], y el locale [en]:</span>
                        <span class="content">
                          <label class="field_308"> </label>
                        </span>
                      </div>
                      <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.ventilacion.v1 codigo [at0010], para el nodo [at0010], y el locale [en]:</span>
                        <span class="content">
                          <label class="field_309"> </label>
                        </span>
                      </div>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.ventilacion.v1 codigo [at0013], para el nodo [at0013], y el locale [en]:</span>
            <span class="content">
              <div class="CLUSTER  ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.ventilacion.v1 codigo [at0014], para el nodo [at0014], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.ventilacion.v1 codigo [at0015], para el nodo [at0015], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_310"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.ventilacion.v1 codigo [at0016], para el nodo [at0016], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_311"> </label>
                    </span>
                  </div>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.ventilacion.v1 codigo [at0017], para el nodo [at0017], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.ventilacion.v1 codigo [at0018], para el nodo [at0018], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_312"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-EVALUATION.ventilacion.v1 codigo [at0019], para el nodo [at0019], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_313"> </label>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </td>
    <td id="right">
      <div class="ACTION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.ventilacion.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.ventilacion.v1 codigo [at0002], para el nodo [at0002], y el locale [en]:</span>
            <span class="content">
              <div class="CLUSTER  ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.ventilacion.v1 codigo [at0014], para el nodo [at0014], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.ventilacion.v1 codigo [at0015], para el nodo [at0015], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_314"> </label>
                    </span>
                  </div>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.ventilacion.v1 codigo [at0003], para el nodo [at0003], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.ventilacion.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_315"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.ventilacion.v1 codigo [at0007], para el nodo [at0007], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_316"> </label>
                    </span>
                  </div>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.ventilacion.v1 codigo [at0010], para el nodo [at0010], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.ventilacion.v1 codigo [at0011], para el nodo [at0011], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_317"> </label>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.ventilacion.v1 codigo [at0018], para el nodo [at0018], y el locale [en]:</span>
            <span class="content">
              <label class="field_318"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" id="bottom">
      <div class="ACTION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.resumen_actuacion.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.resumen_actuacion.v1 codigo [at0002], para el nodo [at0002], y el locale [en]:</span>
            <span class="content">
              <label class="field_139"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_DATE_TIME ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.resumen_actuacion.v1 codigo [at0005], para el nodo [at0005], y el locale [en]:</span>
            <span class="content">
              <label class="field_140"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
</table>
