<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content"/>
  </tr>
  <tr>
    <td id="left">
      <div class="OBSERVATION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.temperatura.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.temperatura.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
            <span class="content">
(0.0..60.0)              <label class="field_547"> </label>
              <label class="field_548"> </label>
            </span>
          </div>
        </span>
      </div>
      <div class="OBSERVATION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
                <span class="content">
                  <label class="field_549"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
                <span class="content">
                  <label class="field_549"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
                <span class="content">
                  <label class="field_549"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0005], para el nodo [at0005], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
                <span class="content">
                  <label class="field_550"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
                <span class="content">
                  <label class="field_550"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
                <span class="content">
                  <label class="field_550"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0006], para el nodo [at0006], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
                <span class="content">
                  <label class="field_551"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
                <span class="content">
                  <label class="field_551"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
                <span class="content">
                  <label class="field_551"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0007], para el nodo [at0007], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
                <span class="content">
                  <label class="field_552"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
                <span class="content">
                  <label class="field_552"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
                <span class="content">
                  <label class="field_552"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0041], para el nodo [at0041], y el locale [en]:</span>
                <span class="content">
                  <label class="field_553"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0008], para el nodo [at0008], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
                <span class="content">
                  <label class="field_554"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
                <span class="content">
                  <label class="field_554"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
                <span class="content">
                  <label class="field_554"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0025], para el nodo [at0025], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
                <span class="content">
                  <label class="field_555"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
                <span class="content">
                  <label class="field_555"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
                <span class="content">
                  <label class="field_555"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0031], para el nodo [at0031], y el locale [en]:</span>
                <span class="content">
                  <label class="field_556"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0031], para el nodo [at0031], y el locale [en]:</span>
                <span class="content">
                  <label class="field_556"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0031], para el nodo [at0031], y el locale [en]:</span>
                <span class="content">
                  <label class="field_556"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0011], para el nodo [at0011], y el locale [en]:</span>
            <span class="content">
              <label class="field_557"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.exposicion_corporal.v1 codigo [at0010], para el nodo [at0010], y el locale [en]:</span>
            <span class="content">
              <label class="field_558"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
    <td id="right">
      <div class="ACTION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.exposicion_corporal.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.exposicion_corporal.v1 codigo [at0002], para el nodo [at0002], y el locale [en]:</span>
            <span class="content">
              <label class="field_559"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.exposicion_corporal.v1 codigo [at0003], para el nodo [at0003], y el locale [en]:</span>
            <span class="content">
              <label class="field_560"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.exposicion_corporal.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
            <span class="content">
              <label class="field_561"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.exposicion_corporal.v1 codigo [at0005], para el nodo [at0005], y el locale [en]:</span>
            <span class="content">
              <label class="field_562"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.exposicion_corporal.v1 codigo [at0006], para el nodo [at0006], y el locale [en]:</span>
            <span class="content">
              <label class="field_563"> </label>
            </span>
          </div>
        </span>
      </div>
      <div class="OBSERVATION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.imagen.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="CLUSTER  multiple">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.imagen.v1 codigo [at0005], para el nodo [at0005], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_MULTIMEDIA ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.imagen.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
                <span class="content">
                  <div class="DV_MULTIMEDIA  ">
                    <span class="content"/>
                  </div>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.imagen.v1 codigo [at0006], para el nodo [at0006], y el locale [en]:</span>
                <span class="content">
                  <label class="field_565"> </label>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" id="bottom">
      <div class="ACTION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.resumen_actuacion.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.resumen_actuacion.v1 codigo [at0002], para el nodo [at0002], y el locale [en]:</span>
            <span class="content">
              <label class="field_139"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_DATE_TIME ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.resumen_actuacion.v1 codigo [at0005], para el nodo [at0005], y el locale [en]:</span>
            <span class="content">
              <label class="field_140"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
</table>
