<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="INSTRUCTION   field_487 ">
        <span class="label">Pedido de examenes imagenologicos:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_488 field_489 ">
            <span class="label">Radiografía de raquis cervical:</span>
            <span class="content">
              <select name="field_469" id="field_469">
                <option value=""/>
                <option value="at0004||Frente">Frente</option>
                <option value="at0005||Perfil">Perfil</option>
                <option value="at0006||Boca abierta (trans-oral)">Boca abierta (trans-oral)</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_490 field_491 ">
            <span class="label">Radiografía de tórax:</span>
            <span class="content">
              <select name="field_470" id="field_470">
                <option value=""/>
                <option value="at0008||Frente">Frente</option>
                <option value="at0009||Perfil">Perfil</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN field_492 field_493 ">
            <span class="label">Radiografía de columna:</span>
            <span class="content">
              <select name="field_471">
                <option value=""/>
                <option value="label.boolean.true">Si</option>
                <option value="label.boolean.false">No</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN field_494 field_495 ">
            <span class="label">Radiografía de abdomen:</span>
            <span class="content">
              <select name="field_472">
                <option value=""/>
                <option value="label.boolean.true">Si</option>
                <option value="label.boolean.false">No</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN field_496 field_497 ">
            <span class="label">Radiografía de pelvis:</span>
            <span class="content">
              <select name="field_473">
                <option value=""/>
                <option value="label.boolean.true">Si</option>
                <option value="label.boolean.false">No</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_498 field_499 ">
            <span class="label">Radiografía de miembro:</span>
            <span class="content">
              <select name="field_474" id="field_474">
                <option value=""/>
                <option value="at0014||Superior">Superior</option>
                <option value="at0015||Inferior">Inferior</option>
              </select>
            </span>
          </div>
          <div class="CLUSTER   field_500 ">
            <span class="label">Ecografía / Ultrasonografía:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_BOOLEAN field_501 field_502 ">
                <span class="label">Ecografía abdominal:</span>
                <span class="content">
                  <select name="field_475">
                    <option value=""/>
                    <option value="label.boolean.true">Si</option>
                    <option value="label.boolean.false">No</option>
                  </select>
                </span>
              </div>
              <div class="CLUSTER   field_503 ">
                <span class="label">Ecodopler:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN field_504 field_505 ">
                    <span class="label">Vasos de cuello:</span>
                    <span class="content">
                      <select name="field_476">
                        <option value=""/>
                        <option value="label.boolean.true">Si</option>
                        <option value="label.boolean.false">No</option>
                      </select>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_506 field_507 ">
                    <span class="label">Arteria miembro superior:</span>
                    <span class="content">
                      <select name="field_477" id="field_477">
                        <option value=""/>
                        <option value="at0022||Izquierda">Izquierda</option>
                        <option value="at0023||Derecha">Derecha</option>
                      </select>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_508 field_509 ">
                    <span class="label">Arteria miembro inferior:</span>
                    <span class="content">
                      <select name="field_478" id="field_478">
                        <option value=""/>
                        <option value="at0024||Izquierda">Izquierda</option>
                        <option value="at0025||Derecha">Derecha</option>
                      </select>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER   field_510 ">
            <span class="label">Tomografía computada:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_BOOLEAN field_511 field_512 ">
                <span class="label">Cráneo:</span>
                <span class="content">
                  <select name="field_479">
                    <option value=""/>
                    <option value="label.boolean.true">Si</option>
                    <option value="label.boolean.false">No</option>
                  </select>
                </span>
              </div>
              <div class="CLUSTER   field_513 ">
                <span class="label">Cuello:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN field_514 field_515 ">
                    <span class="label">Indicar:</span>
                    <span class="content">
                      <select name="field_480">
                        <option value=""/>
                        <option value="label.boolean.true">Si</option>
                        <option value="label.boolean.false">No</option>
                      </select>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN field_516 field_517 ">
                    <span class="label">¿Con raquis cervical?:</span>
                    <span class="content">
                      <select name="field_481">
                        <option value=""/>
                        <option value="label.boolean.true">Si</option>
                        <option value="label.boolean.false">No</option>
                      </select>
                    </span>
                  </div>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_BOOLEAN field_518 field_519 ">
                <span class="label">Tórax:</span>
                <span class="content">
                  <select name="field_482">
                    <option value=""/>
                    <option value="label.boolean.true">Si</option>
                    <option value="label.boolean.false">No</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_BOOLEAN field_520 field_521 ">
                <span class="label">Abdomen  / Pelvis:</span>
                <span class="content">
                  <select name="field_483">
                    <option value=""/>
                    <option value="label.boolean.true">Si</option>
                    <option value="label.boolean.false">No</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_BOOLEAN field_522 field_523 ">
                <span class="label">Miembros:</span>
                <span class="content">
                  <select name="field_484">
                    <option value=""/>
                    <option value="label.boolean.true">Si</option>
                    <option value="label.boolean.false">No</option>
                  </select>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN field_524 field_525 ">
            <span class="label">Resonancia Magnética Nuclear:</span>
            <span class="content">
              <select name="field_485">
                <option value=""/>
                <option value="label.boolean.true">Si</option>
                <option value="label.boolean.false">No</option>
              </select>
            </span>
          </div>
          <textarea name="field_486"></textarea>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
