<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="INSTRUCTION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0003], para el nodo [at0003], y el locale [en]:</span>
            <span class="content">
              <label class="field_469"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0007], para el nodo [at0007], y el locale [en]:</span>
            <span class="content">
              <label class="field_470"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0010], para el nodo [at0010], y el locale [en]:</span>
            <span class="content">
              <label class="field_471"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0011], para el nodo [at0011], y el locale [en]:</span>
            <span class="content">
              <label class="field_472"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
            <span class="content">
              <label class="field_473"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0013], para el nodo [at0013], y el locale [en]:</span>
            <span class="content">
              <label class="field_474"> </label>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0016], para el nodo [at0016], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0017], para el nodo [at0017], y el locale [en]:</span>
                <span class="content">
                  <label class="field_475"> </label>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0018], para el nodo [at0018], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0019], para el nodo [at0019], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_476"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0020], para el nodo [at0020], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_477"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0021], para el nodo [at0021], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_478"> </label>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0026], para el nodo [at0026], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0027], para el nodo [at0027], y el locale [en]:</span>
                <span class="content">
                  <label class="field_479"> </label>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0028], para el nodo [at0028], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0029], para el nodo [at0029], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_480"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0030], para el nodo [at0030], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_481"> </label>
                    </span>
                  </div>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0031], para el nodo [at0031], y el locale [en]:</span>
                <span class="content">
                  <label class="field_482"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0032], para el nodo [at0032], y el locale [en]:</span>
                <span class="content">
                  <label class="field_483"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0033], para el nodo [at0033], y el locale [en]:</span>
                <span class="content">
                  <label class="field_484"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0034], para el nodo [at0034], y el locale [en]:</span>
            <span class="content">
              <label class="field_485"> </label>
            </span>
          </div>
          <label class="field_486"> </label>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
