<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="INSTRUCTION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0003], para el nodo [at0003], y el locale [en]:</span>
            <span class="content">
              <select name="field_469" id="field_469">
                <option value=""/>
                <option value="at0004||Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0004], para el nodo [at0004], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0004], para el nodo [at0004], y el locale [en]</option>
                <option value="at0005||Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0005], para el nodo [at0005], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0005], para el nodo [at0005], y el locale [en]</option>
                <option value="at0006||Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0006], para el nodo [at0006], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0006], para el nodo [at0006], y el locale [en]</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0007], para el nodo [at0007], y el locale [en]:</span>
            <span class="content">
              <select name="field_470" id="field_470">
                <option value=""/>
                <option value="at0008||Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0008], para el nodo [at0008], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0008], para el nodo [at0008], y el locale [en]</option>
                <option value="at0009||Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0009], para el nodo [at0009], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0009], para el nodo [at0009], y el locale [en]</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0010], para el nodo [at0010], y el locale [en]:</span>
            <span class="content">
              <select name="field_471">
                <option value=""/>
                <option value="label.boolean.true">Yes</option>
                <option value="label.boolean.false">No</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0011], para el nodo [at0011], y el locale [en]:</span>
            <span class="content">
              <select name="field_472">
                <option value=""/>
                <option value="label.boolean.true">Yes</option>
                <option value="label.boolean.false">No</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0012], para el nodo [at0012], y el locale [en]:</span>
            <span class="content">
              <select name="field_473">
                <option value=""/>
                <option value="label.boolean.true">Yes</option>
                <option value="label.boolean.false">No</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0013], para el nodo [at0013], y el locale [en]:</span>
            <span class="content">
              <select name="field_474" id="field_474">
                <option value=""/>
                <option value="at0014||Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0014], para el nodo [at0014], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0014], para el nodo [at0014], y el locale [en]</option>
                <option value="at0015||Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0015], para el nodo [at0015], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0015], para el nodo [at0015], y el locale [en]</option>
              </select>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0016], para el nodo [at0016], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0017], para el nodo [at0017], y el locale [en]:</span>
                <span class="content">
                  <select name="field_475">
                    <option value=""/>
                    <option value="label.boolean.true">Yes</option>
                    <option value="label.boolean.false">No</option>
                  </select>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0018], para el nodo [at0018], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0019], para el nodo [at0019], y el locale [en]:</span>
                    <span class="content">
                      <select name="field_476">
                        <option value=""/>
                        <option value="label.boolean.true">Yes</option>
                        <option value="label.boolean.false">No</option>
                      </select>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0020], para el nodo [at0020], y el locale [en]:</span>
                    <span class="content">
                      <select name="field_477" id="field_477">
                        <option value=""/>
                        <option value="at0022||Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0022], para el nodo [at0022], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0022], para el nodo [at0022], y el locale [en]</option>
                        <option value="at0023||Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0023], para el nodo [at0023], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0023], para el nodo [at0023], y el locale [en]</option>
                      </select>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0021], para el nodo [at0021], y el locale [en]:</span>
                    <span class="content">
                      <select name="field_478" id="field_478">
                        <option value=""/>
                        <option value="at0024||Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0024], para el nodo [at0024], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0024], para el nodo [at0024], y el locale [en]</option>
                        <option value="at0025||Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0025], para el nodo [at0025], y el locale [en]">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0025], para el nodo [at0025], y el locale [en]</option>
                      </select>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0026], para el nodo [at0026], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0027], para el nodo [at0027], y el locale [en]:</span>
                <span class="content">
                  <select name="field_479">
                    <option value=""/>
                    <option value="label.boolean.true">Yes</option>
                    <option value="label.boolean.false">No</option>
                  </select>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0028], para el nodo [at0028], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0029], para el nodo [at0029], y el locale [en]:</span>
                    <span class="content">
                      <select name="field_480">
                        <option value=""/>
                        <option value="label.boolean.true">Yes</option>
                        <option value="label.boolean.false">No</option>
                      </select>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0030], para el nodo [at0030], y el locale [en]:</span>
                    <span class="content">
                      <select name="field_481">
                        <option value=""/>
                        <option value="label.boolean.true">Yes</option>
                        <option value="label.boolean.false">No</option>
                      </select>
                    </span>
                  </div>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0031], para el nodo [at0031], y el locale [en]:</span>
                <span class="content">
                  <select name="field_482">
                    <option value=""/>
                    <option value="label.boolean.true">Yes</option>
                    <option value="label.boolean.false">No</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0032], para el nodo [at0032], y el locale [en]:</span>
                <span class="content">
                  <select name="field_483">
                    <option value=""/>
                    <option value="label.boolean.true">Yes</option>
                    <option value="label.boolean.false">No</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0033], para el nodo [at0033], y el locale [en]:</span>
                <span class="content">
                  <select name="field_484">
                    <option value=""/>
                    <option value="label.boolean.true">Yes</option>
                    <option value="label.boolean.false">No</option>
                  </select>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-INSTRUCTION.pedido_imagenes.v1 codigo [at0034], para el nodo [at0034], y el locale [en]:</span>
            <span class="content">
              <select name="field_485">
                <option value=""/>
                <option value="label.boolean.true">Yes</option>
                <option value="label.boolean.false">No</option>
              </select>
            </span>
          </div>
          <textarea name="field_486"></textarea>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
