<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content"/>
  </tr>
  <tr>
    <td id="left">
      <div class="ELEMENT ELEMENT_DvQuantity ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.frecuencia_cardiaca.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
        <span class="content">
(*..*)          <label class="field_1"> </label>
          <label class="field_2"> </label>
        </span>
      </div>
      <div class="ELEMENT ELEMENT_DvQuantity ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.frecuencia_respiratoria.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
        <span class="content">
(0.0..200.0)          <label class="field_3"> </label>
          <label class="field_4"> </label>
        </span>
      </div>
      <div class="CLUSTER  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.presion_arterial.v1 codigo [at0005], para el nodo [at0005], y el locale [en]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.presion_arterial.v1 codigo [at0006], para el nodo [at0006], y el locale [en]:</span>
            <span class="content">
(*..*)              <label class="field_5"> </label>
              <label class="field_6"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.presion_arterial.v1 codigo [at0007], para el nodo [at0007], y el locale [en]:</span>
            <span class="content">
(*..*)              <label class="field_7"> </label>
              <label class="field_8"> </label>
            </span>
          </div>
        </span>
      </div>
      <div class="OBSERVATION  ">
        <span class="label">Glasgow Coma Scale:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvOrdinal ">
            <span class="label">Best eye response:</span>
            <span class="content">
              <label class="field_9"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvOrdinal ">
            <span class="label">Best verbal response:</span>
            <span class="content">
              <label class="field_10"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvOrdinal ">
            <span class="label">Best motor response:</span>
            <span class="content">
              <label class="field_11"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_COUNT ">
            <span class="label">Score:</span>
            <span class="content">
(
    3
..
    15
)              <label class="field_12"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
    <td id="right">
      <div class="ACTION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0002], para el nodo [at0002], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_COUNT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0003], para el nodo [at0003], y el locale [en]:</span>
                <span class="content">
(
    0
..
    10
)                  <label class="field_13"> </label>
                </span>
              </div>
              <div class="CLUSTER  multiple">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0005], para el nodo [at0005], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_14"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DvOrdinal ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0010], para el nodo [at0010], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_15"> </label>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0017], para el nodo [at0017], y el locale [en]:</span>
            <span class="content">
              <div class="CLUSTER  ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0018], para el nodo [at0018], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0019], para el nodo [at0019], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_16"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0022], para el nodo [at0022], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_17"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0025], para el nodo [at0025], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_18"> </label>
                    </span>
                  </div>
                </span>
              </div>
              <div class="CLUSTER  ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0018], para el nodo [at0018], y el locale [en]:</span>
                <span class="content">
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0019], para el nodo [at0019], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_16"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0022], para el nodo [at0022], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_17"> </label>
                    </span>
                  </div>
                  <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                    <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.vias_venosas_prehospitalario.v1 codigo [at0025], para el nodo [at0025], y el locale [en]:</span>
                    <span class="content">
                      <label class="field_18"> </label>
                    </span>
                  </div>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
      <div class="CLUSTER  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0002], para el nodo [at0002], y el locale [en]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0003], para el nodo [at0003], y el locale [en]:</span>
            <span class="content">
(*..*)              <label class="field_19"> </label>
              <label class="field_20"> </label>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0005], para el nodo [at0005], y el locale [en]:</span>
                <span class="content">
(*..*)                  <label class="field_21"> </label>
                  <label class="field_22"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0006], para el nodo [at0006], y el locale [en]:</span>
                <span class="content">
(*..*)                  <label class="field_23"> </label>
                  <label class="field_24"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0007], para el nodo [at0007], y el locale [en]:</span>
                <span class="content">
(*..*)                  <label class="field_25"> </label>
                  <label class="field_26"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0008], para el nodo [at0008], y el locale [en]:</span>
                <span class="content">
(*..*)                  <label class="field_27"> </label>
                  <label class="field_28"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0009], para el nodo [at0009], y el locale [en]:</span>
                <span class="content">
(*..*)                  <label class="field_29"> </label>
                  <label class="field_30"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0010], para el nodo [at0010], y el locale [en]:</span>
                <span class="content">
(*..*)                  <label class="field_31"> </label>
                  <label class="field_32"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-ACTION.reposicion_prehospitalaria.v1 codigo [at0011], para el nodo [at0011], y el locale [en]:</span>
                <span class="content">
(*..*)                  <label class="field_33"> </label>
                  <label class="field_34"> </label>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
