<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="OBSERVATION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.test_cluster_oblig_multiple_element_oblig.v1 codigo [at0000], para el nodo [at0000], y el locale [en]:</span>
        <span class="content">
          <div class="CLUSTER  multiple">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.test_cluster_oblig_multiple_element_oblig.v1 codigo [at0004], para el nodo [at0004], y el locale [en]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.test_cluster_oblig_multiple_element_oblig.v1 codigo [at0005], para el nodo [at0005], y el locale [en]:</span>
                <span class="content">
                  <label class="field_651"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_BOOLEAN ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.test_cluster_oblig_multiple_element_oblig.v1 codigo [at0006], para el nodo [at0006], y el locale [en]:</span>
                <span class="content">
                  <label class="field_652"> </label>
                </span>
              </div>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
