<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="OBSERVATION  ">
        <span class="label">Blood Pressure:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Systolic:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_739"> </label>
              <label class="field_740"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Diastolic:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_741"> </label>
              <label class="field_742"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Mean Arterial Pressure:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_743"> </label>
              <label class="field_744"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Pulse Pressure:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_745"> </label>
              <label class="field_746"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Comment:</span>
            <span class="content">
              <label class="field_747"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Position:</span>
            <span class="content">
              <label class="field_748"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Confounding factors:</span>
            <span class="content">
              <label class="field_749"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Estado de sueño:</span>
            <span class="content">
              <label class="field_750"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Tilt:</span>
            <span class="content">
(-90.0..90.0)              <label class="field_751"> </label>
              <label class="field_752"> </label>
            </span>
          </div>
          <div class="INTERVAL_EVENT  ">
            <span class="label">24 hour average :</span>
            <span class="content">
              <label class="field_753"> </label>
              <div class="DV_DURATION  ">
                <span class="content"/>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Systolic:</span>
                <span class="content">
(0.0..1000.0)                  <label class="field_754"> </label>
                  <label class="field_755"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Diastolic:</span>
                <span class="content">
(0.0..1000.0)                  <label class="field_756"> </label>
                  <label class="field_757"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Mean Arterial Pressure:</span>
                <span class="content">
(0.0..1000.0)                  <label class="field_758"> </label>
                  <label class="field_759"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Pulse Pressure:</span>
                <span class="content">
(0.0..1000.0)                  <label class="field_760"> </label>
                  <label class="field_761"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Comment:</span>
                <span class="content">
                  <label class="field_762"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Position:</span>
                <span class="content">
                  <label class="field_763"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Confounding factors:</span>
                <span class="content">
                  <label class="field_764"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Estado de sueño:</span>
                <span class="content">
                  <label class="field_765"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Tilt:</span>
                <span class="content">
(-90.0..90.0)                  <label class="field_766"> </label>
                  <label class="field_767"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Cuff size:</span>
            <span class="content">
              <label class="field_768"> </label>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Location:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Location of measurement:</span>
                <span class="content">
                  <label class="field_769"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Specific location:</span>
                <span class="content">
                  <label class="field_770"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Method:</span>
            <span class="content">
              <label class="field_771"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Mean Arterial Pressure Formula:</span>
            <span class="content">
              <label class="field_772"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Diastolic endpoint:</span>
            <span class="content">
              <label class="field_773"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
