<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="OBSERVATION   field_903 ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0000], para el nodo [at0000], y el locale [es]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity field_904 field_905 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0004], para el nodo [at0004], y el locale [es]:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_868"/>
              <input type="hidden" name="field_869" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity field_906 field_907 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0005], para el nodo [at0005], y el locale [es]:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_870"/>
              <input type="hidden" name="field_871" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity field_908 field_909 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1006], para el nodo [at1006], y el locale [es]:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_872"/>
              <input type="hidden" name="field_873" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity field_910 field_911 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1007], para el nodo [at1007], y el locale [es]:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_874"/>
              <input type="hidden" name="field_875" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT field_876 field_912 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0033], para el nodo [at0033], y el locale [es]:</span>
            <span class="content">
              <textarea name="field_876"></textarea>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_913 field_914 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0008], para el nodo [at0008], y el locale [es]:</span>
            <span class="content">
              <select name="field_877" id="field_877">
                <option value=""/>
                <option value="at1000||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1000], para el nodo [at1000], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1000], para el nodo [at1000], y el locale [es]</option>
                <option value="at1001||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1001], para el nodo [at1001], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1001], para el nodo [at1001], y el locale [es]</option>
                <option value="at1002||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1002], para el nodo [at1002], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1002], para el nodo [at1002], y el locale [es]</option>
                <option value="at1003||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1003], para el nodo [at1003], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1003], para el nodo [at1003], y el locale [es]</option>
                <option value="at1014||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1014], para el nodo [at1014], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1014], para el nodo [at1014], y el locale [es]</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT field_878 field_915 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1052], para el nodo [at1052], y el locale [es]:</span>
            <span class="content">
              <textarea name="field_878"></textarea>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_916 field_917 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1043], para el nodo [at1043], y el locale [es]:</span>
            <span class="content">
              <select name="field_879" id="field_879">
                <option value=""/>
                <option value="at1044||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1044], para el nodo [at1044], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1044], para el nodo [at1044], y el locale [es]</option>
                <option value="at1045||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1045], para el nodo [at1045], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1045], para el nodo [at1045], y el locale [es]</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity field_918 field_919 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1005], para el nodo [at1005], y el locale [es]:</span>
            <span class="content">
(-90.0..90.0)              <input type="text" name="field_880"/>
              <input type="hidden" name="field_881" value="°"/>
°            </span>
          </div>
          <div class="INTERVAL_EVENT   field_920 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1042], para el nodo [at1042], y el locale [es]:</span>
            <span class="content">
              <select name="field_882" id="field_882">
                <option value=""/>
                <option value="146||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [146], para el nodo [146], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [146], para el nodo [146], y el locale [es]</option>
              </select>
              <div class="DV_DURATION   field_921 ">
                <span class="content"/>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity field_922 field_923 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0004], para el nodo [at0004], y el locale [es]:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_883"/>
                  <input type="hidden" name="field_884" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity field_924 field_925 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0005], para el nodo [at0005], y el locale [es]:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_885"/>
                  <input type="hidden" name="field_886" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity field_926 field_927 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1006], para el nodo [at1006], y el locale [es]:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_887"/>
                  <input type="hidden" name="field_888" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity field_928 field_929 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1007], para el nodo [at1007], y el locale [es]:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_889"/>
                  <input type="hidden" name="field_890" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT field_891 field_930 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0033], para el nodo [at0033], y el locale [es]:</span>
                <span class="content">
                  <textarea name="field_891"></textarea>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_931 field_932 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0008], para el nodo [at0008], y el locale [es]:</span>
                <span class="content">
                  <select name="field_892" id="field_892">
                    <option value=""/>
                    <option value="at1000||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1000], para el nodo [at1000], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1000], para el nodo [at1000], y el locale [es]</option>
                    <option value="at1001||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1001], para el nodo [at1001], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1001], para el nodo [at1001], y el locale [es]</option>
                    <option value="at1002||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1002], para el nodo [at1002], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1002], para el nodo [at1002], y el locale [es]</option>
                    <option value="at1003||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1003], para el nodo [at1003], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1003], para el nodo [at1003], y el locale [es]</option>
                    <option value="at1014||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1014], para el nodo [at1014], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1014], para el nodo [at1014], y el locale [es]</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT field_893 field_933 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1052], para el nodo [at1052], y el locale [es]:</span>
                <span class="content">
                  <textarea name="field_893"></textarea>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_934 field_935 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1043], para el nodo [at1043], y el locale [es]:</span>
                <span class="content">
                  <select name="field_894" id="field_894">
                    <option value=""/>
                    <option value="at1044||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1044], para el nodo [at1044], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1044], para el nodo [at1044], y el locale [es]</option>
                    <option value="at1045||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1045], para el nodo [at1045], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1045], para el nodo [at1045], y el locale [es]</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity field_936 field_937 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1005], para el nodo [at1005], y el locale [es]:</span>
                <span class="content">
(-90.0..90.0)                  <input type="text" name="field_895"/>
                  <input type="hidden" name="field_896" value="°"/>
°                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_938 field_939 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0013], para el nodo [at0013], y el locale [es]:</span>
            <span class="content">
              <select name="field_897" id="field_897">
                <option value=""/>
                <option value="at0015||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0015], para el nodo [at0015], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0015], para el nodo [at0015], y el locale [es]</option>
                <option value="at0016||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0016], para el nodo [at0016], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0016], para el nodo [at0016], y el locale [es]</option>
                <option value="at0017||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0017], para el nodo [at0017], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0017], para el nodo [at0017], y el locale [es]</option>
                <option value="at1008||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1008], para el nodo [at1008], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1008], para el nodo [at1008], y el locale [es]</option>
                <option value="at1009||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1009], para el nodo [at1009], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1009], para el nodo [at1009], y el locale [es]</option>
                <option value="at1018||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1018], para el nodo [at1018], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1018], para el nodo [at1018], y el locale [es]</option>
                <option value="at1019||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1019], para el nodo [at1019], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1019], para el nodo [at1019], y el locale [es]</option>
              </select>
            </span>
          </div>
          <div class="CLUSTER   field_940 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1033], para el nodo [at1033], y el locale [es]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_941 field_942 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0014], para el nodo [at0014], y el locale [es]:</span>
                <span class="content">
                  <select name="field_898" id="field_898">
                    <option value=""/>
                    <option value="at0025||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0025], para el nodo [at0025], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0025], para el nodo [at0025], y el locale [es]</option>
                    <option value="at0026||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0026], para el nodo [at0026], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0026], para el nodo [at0026], y el locale [es]</option>
                    <option value="at0027||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0027], para el nodo [at0027], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0027], para el nodo [at0027], y el locale [es]</option>
                    <option value="at0028||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0028], para el nodo [at0028], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0028], para el nodo [at0028], y el locale [es]</option>
                    <option value="at1020||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1020], para el nodo [at1020], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1020], para el nodo [at1020], y el locale [es]</option>
                    <option value="at1021||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1021], para el nodo [at1021], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1021], para el nodo [at1021], y el locale [es]</option>
                    <option value="at1026||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1026], para el nodo [at1026], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1026], para el nodo [at1026], y el locale [es]</option>
                    <option value="at1031||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1031], para el nodo [at1031], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1031], para el nodo [at1031], y el locale [es]</option>
                    <option value="at1032||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1032], para el nodo [at1032], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1032], para el nodo [at1032], y el locale [es]</option>
                    <option value="at1051||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1051], para el nodo [at1051], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1051], para el nodo [at1051], y el locale [es]</option>
                    <option value="at1053||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1053], para el nodo [at1053], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1053], para el nodo [at1053], y el locale [es]</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT field_899 field_943 ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1034], para el nodo [at1034], y el locale [es]:</span>
                <span class="content">
                  <textarea name="field_899"></textarea>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_944 field_945 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1035], para el nodo [at1035], y el locale [es]:</span>
            <span class="content">
              <select name="field_900" id="field_900">
                <option value=""/>
                <option value="at1036||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1036], para el nodo [at1036], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1036], para el nodo [at1036], y el locale [es]</option>
                <option value="at1037||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1037], para el nodo [at1037], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1037], para el nodo [at1037], y el locale [es]</option>
                <option value="at1039||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1039], para el nodo [at1039], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1039], para el nodo [at1039], y el locale [es]</option>
                <option value="at1040||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1040], para el nodo [at1040], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1040], para el nodo [at1040], y el locale [es]</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT field_901 field_946 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1038], para el nodo [at1038], y el locale [es]:</span>
            <span class="content">
              <textarea name="field_901"></textarea>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_947 field_948 ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1010], para el nodo [at1010], y el locale [es]:</span>
            <span class="content">
              <select name="field_902" id="field_902">
                <option value=""/>
                <option value="at1011||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1011], para el nodo [at1011], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1011], para el nodo [at1011], y el locale [es]</option>
                <option value="at1012||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1012], para el nodo [at1012], y el locale [es]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1012], para el nodo [at1012], y el locale [es]</option>
              </select>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
