<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="OBSERVATION  ">
        <span class="label">Presión Arterial:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Sistólica:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_868"> </label>
              <label class="field_869"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Diástole:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_870"> </label>
              <label class="field_871"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Presión Arterial Media:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_872"> </label>
              <label class="field_873"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Presión de Pulso:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_874"> </label>
              <label class="field_875"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Comentario:</span>
            <span class="content">
              <label class="field_876"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Posición:</span>
            <span class="content">
              <label class="field_877"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Factores confluentes:</span>
            <span class="content">
              <label class="field_878"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Estado del sueño:</span>
            <span class="content">
              <label class="field_879"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Inclinación:</span>
            <span class="content">
(-90.0..90.0)              <label class="field_880"> </label>
              <label class="field_881"> </label>
            </span>
          </div>
          <div class="INTERVAL_EVENT  ">
            <span class="label">Promedio de 24 horas:</span>
            <span class="content">
              <label class="field_882"> </label>
              <div class="DV_DURATION  ">
                <span class="content"/>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Sistólica:</span>
                <span class="content">
(0.0..1000.0)                  <label class="field_883"> </label>
                  <label class="field_884"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Diástole:</span>
                <span class="content">
(0.0..1000.0)                  <label class="field_885"> </label>
                  <label class="field_886"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Presión Arterial Media:</span>
                <span class="content">
(0.0..1000.0)                  <label class="field_887"> </label>
                  <label class="field_888"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Presión de Pulso:</span>
                <span class="content">
(0.0..1000.0)                  <label class="field_889"> </label>
                  <label class="field_890"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Comentario:</span>
                <span class="content">
                  <label class="field_891"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Posición:</span>
                <span class="content">
                  <label class="field_892"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Factores confluentes:</span>
                <span class="content">
                  <label class="field_893"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Estado del sueño:</span>
                <span class="content">
                  <label class="field_894"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Inclinación:</span>
                <span class="content">
(-90.0..90.0)                  <label class="field_895"> </label>
                  <label class="field_896"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Tamaño del manguito:</span>
            <span class="content">
              <label class="field_897"> </label>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Localización:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Localización de la medida:</span>
                <span class="content">
                  <label class="field_898"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Localización específica:</span>
                <span class="content">
                  <label class="field_899"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Método:</span>
            <span class="content">
              <label class="field_900"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Fórmula de la Presión Arterial Media (PAM):</span>
            <span class="content">
              <label class="field_901"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Punto final diastólica:</span>
            <span class="content">
              <label class="field_902"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
