<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="OBSERVATION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0000], para el nodo [at0000], y el locale [es]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0004], para el nodo [at0004], y el locale [es]:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_658"> </label>
              <label class="field_659"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0005], para el nodo [at0005], y el locale [es]:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_660"> </label>
              <label class="field_661"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1006], para el nodo [at1006], y el locale [es]:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_662"> </label>
              <label class="field_663"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1007], para el nodo [at1007], y el locale [es]:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_664"> </label>
              <label class="field_665"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0033], para el nodo [at0033], y el locale [es]:</span>
            <span class="content">
              <label class="field_666"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0008], para el nodo [at0008], y el locale [es]:</span>
            <span class="content">
              <label class="field_667"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1052], para el nodo [at1052], y el locale [es]:</span>
            <span class="content">
              <label class="field_668"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1043], para el nodo [at1043], y el locale [es]:</span>
            <span class="content">
              <label class="field_669"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1005], para el nodo [at1005], y el locale [es]:</span>
            <span class="content">
(-90.0..90.0)              <label class="field_670"> </label>
              <label class="field_671"> </label>
            </span>
          </div>
          <div class="INTERVAL_EVENT  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1042], para el nodo [at1042], y el locale [es]:</span>
            <span class="content">
              <label class="field_672"> </label>
              <div class="DV_DURATION  ">
                <span class="content"/>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0004], para el nodo [at0004], y el locale [es]:</span>
                <span class="content">
(0.0..1000.0)                  <label class="field_673"> </label>
                  <label class="field_674"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0005], para el nodo [at0005], y el locale [es]:</span>
                <span class="content">
(0.0..1000.0)                  <label class="field_675"> </label>
                  <label class="field_676"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1006], para el nodo [at1006], y el locale [es]:</span>
                <span class="content">
(0.0..1000.0)                  <label class="field_677"> </label>
                  <label class="field_678"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1007], para el nodo [at1007], y el locale [es]:</span>
                <span class="content">
(0.0..1000.0)                  <label class="field_679"> </label>
                  <label class="field_680"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0033], para el nodo [at0033], y el locale [es]:</span>
                <span class="content">
                  <label class="field_681"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0008], para el nodo [at0008], y el locale [es]:</span>
                <span class="content">
                  <label class="field_682"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1052], para el nodo [at1052], y el locale [es]:</span>
                <span class="content">
                  <label class="field_683"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1043], para el nodo [at1043], y el locale [es]:</span>
                <span class="content">
                  <label class="field_684"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1005], para el nodo [at1005], y el locale [es]:</span>
                <span class="content">
(-90.0..90.0)                  <label class="field_685"> </label>
                  <label class="field_686"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0013], para el nodo [at0013], y el locale [es]:</span>
            <span class="content">
              <label class="field_687"> </label>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1033], para el nodo [at1033], y el locale [es]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at0014], para el nodo [at0014], y el locale [es]:</span>
                <span class="content">
                  <label class="field_688"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1034], para el nodo [at1034], y el locale [es]:</span>
                <span class="content">
                  <label class="field_689"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1035], para el nodo [at1035], y el locale [es]:</span>
            <span class="content">
              <label class="field_690"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1038], para el nodo [at1038], y el locale [es]:</span>
            <span class="content">
              <label class="field_691"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1 codigo [at1010], para el nodo [at1010], y el locale [es]:</span>
            <span class="content">
              <label class="field_692"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
