<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="OBSERVATION   field_840 ">
        <span class="label">Blood Pressure:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity field_841 field_842 ">
            <span class="label">Systolic:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_820"/>
              <input type="hidden" name="field_821" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity field_843 field_844 ">
            <span class="label">Diastolic:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_822"/>
              <input type="hidden" name="field_823" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity field_845 field_846 ">
            <span class="label">Mean Arterial Pressure:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_824"/>
              <input type="hidden" name="field_825" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity field_847 field_848 ">
            <span class="label">Pulse Pressure:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_826"/>
              <input type="hidden" name="field_827" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT field_828 field_849 ">
            <span class="label">Comment:</span>
            <span class="content">
              <textarea name="field_828"></textarea>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_850 field_851 ">
            <span class="label">Position:</span>
            <span class="content">
              <select name="field_829" id="field_829">
                <option value=""/>
                <option value="at1000||Standing">Standing</option>
                <option value="at1001||Sitting">Sitting</option>
                <option value="at1002||Reclining">Reclining</option>
                <option value="at1003||Lying">Lying</option>
                <option value="at1014||Lying with tilt to left">Lying with tilt to left</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT field_830 field_852 ">
            <span class="label">Confounding factors:</span>
            <span class="content">
              <textarea name="field_830"></textarea>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_853 field_854 ">
            <span class="label">Estado de sueño:</span>
            <span class="content">
              <select name="field_831" id="field_831">
                <option value=""/>
                <option value="at1044||Despierto y conciente">Despierto y conciente</option>
                <option value="at1045||Durmiendo">Durmiendo</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity field_855 field_856 ">
            <span class="label">Tilt:</span>
            <span class="content">
(-90.0..90.0)              <input type="text" name="field_832"/>
              <input type="hidden" name="field_833" value="°"/>
°            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_857 field_858 ">
            <span class="label">Cuff size:</span>
            <span class="content">
              <select name="field_834" id="field_834">
                <option value=""/>
                <option value="at0015||Adult Thigh">Adult Thigh</option>
                <option value="at0016||Large Adult">Large Adult</option>
                <option value="at0017||Adult">Adult</option>
                <option value="at1008||Small Adult">Small Adult</option>
                <option value="at1009||Paediatric/Child">Paediatric/Child</option>
                <option value="at1018||Infant">Infant</option>
                <option value="at1019||Neonatal">Neonatal</option>
              </select>
            </span>
          </div>
          <div class="CLUSTER   field_859 ">
            <span class="label">Location:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_860 field_861 ">
                <span class="label">Location of measurement:</span>
                <span class="content">
                  <select name="field_835" id="field_835">
                    <option value=""/>
                    <option value="at0025||Brazo derecho">Brazo derecho</option>
                    <option value="at0026||Brazo izquierdo">Brazo izquierdo</option>
                    <option value="at0027||Right thigh">Right thigh</option>
                    <option value="at0028||Left thigh">Left thigh</option>
                    <option value="at1020||Right wrist">Right wrist</option>
                    <option value="at1021||Left wrist">Left wrist</option>
                    <option value="at1026||Right ankle">Right ankle</option>
                    <option value="at1031||Left ankle">Left ankle</option>
                    <option value="at1032||Finger">Finger</option>
                    <option value="at1051||Toe">Toe</option>
                    <option value="at1053||Intra-arterial">Intra-arterial</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT field_836 field_862 ">
                <span class="label">Specific location:</span>
                <span class="content">
                  <textarea name="field_836"></textarea>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_863 field_864 ">
            <span class="label">Method:</span>
            <span class="content">
              <select name="field_837" id="field_837">
                <option value=""/>
                <option value="at1036||Auscultation">Auscultation</option>
                <option value="at1037||Palpation">Palpation</option>
                <option value="at1039||Machine">Machine</option>
                <option value="at1040||Invasive">Invasive</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT field_838 field_865 ">
            <span class="label">Mean Arterial Pressure Formula:</span>
            <span class="content">
              <textarea name="field_838"></textarea>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT field_866 field_867 ">
            <span class="label">Diastolic endpoint:</span>
            <span class="content">
              <select name="field_839" id="field_839">
                <option value=""/>
                <option value="at1011||Phase IV">Phase IV</option>
                <option value="at1012||Phase V">Phase V</option>
              </select>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
