<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="OBSERVATION  ">
        <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0000], para el nodo [at0000], y el locale [es]:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0004], para el nodo [at0004], y el locale [es]:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_868"> </label>
              <label class="field_869"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0005], para el nodo [at0005], y el locale [es]:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_870"> </label>
              <label class="field_871"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1006], para el nodo [at1006], y el locale [es]:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_872"> </label>
              <label class="field_873"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1007], para el nodo [at1007], y el locale [es]:</span>
            <span class="content">
(0.0..1000.0)              <label class="field_874"> </label>
              <label class="field_875"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0033], para el nodo [at0033], y el locale [es]:</span>
            <span class="content">
              <label class="field_876"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0008], para el nodo [at0008], y el locale [es]:</span>
            <span class="content">
              <label class="field_877"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1052], para el nodo [at1052], y el locale [es]:</span>
            <span class="content">
              <label class="field_878"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1043], para el nodo [at1043], y el locale [es]:</span>
            <span class="content">
              <label class="field_879"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1005], para el nodo [at1005], y el locale [es]:</span>
            <span class="content">
(-90.0..90.0)              <label class="field_880"> </label>
              <label class="field_881"> </label>
            </span>
          </div>
          <div class="INTERVAL_EVENT  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1042], para el nodo [at1042], y el locale [es]:</span>
            <span class="content">
              <label class="field_882"> </label>
              <div class="DV_DURATION  ">
                <span class="content"/>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0004], para el nodo [at0004], y el locale [es]:</span>
                <span class="content">
(0.0..1000.0)                  <label class="field_883"> </label>
                  <label class="field_884"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0005], para el nodo [at0005], y el locale [es]:</span>
                <span class="content">
(0.0..1000.0)                  <label class="field_885"> </label>
                  <label class="field_886"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1006], para el nodo [at1006], y el locale [es]:</span>
                <span class="content">
(0.0..1000.0)                  <label class="field_887"> </label>
                  <label class="field_888"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1007], para el nodo [at1007], y el locale [es]:</span>
                <span class="content">
(0.0..1000.0)                  <label class="field_889"> </label>
                  <label class="field_890"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0033], para el nodo [at0033], y el locale [es]:</span>
                <span class="content">
                  <label class="field_891"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0008], para el nodo [at0008], y el locale [es]:</span>
                <span class="content">
                  <label class="field_892"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1052], para el nodo [at1052], y el locale [es]:</span>
                <span class="content">
                  <label class="field_893"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1043], para el nodo [at1043], y el locale [es]:</span>
                <span class="content">
                  <label class="field_894"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1005], para el nodo [at1005], y el locale [es]:</span>
                <span class="content">
(-90.0..90.0)                  <label class="field_895"> </label>
                  <label class="field_896"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0013], para el nodo [at0013], y el locale [es]:</span>
            <span class="content">
              <label class="field_897"> </label>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1033], para el nodo [at1033], y el locale [es]:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at0014], para el nodo [at0014], y el locale [es]:</span>
                <span class="content">
                  <label class="field_898"> </label>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1034], para el nodo [at1034], y el locale [es]:</span>
                <span class="content">
                  <label class="field_899"> </label>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1035], para el nodo [at1035], y el locale [es]:</span>
            <span class="content">
              <label class="field_900"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1038], para el nodo [at1038], y el locale [es]:</span>
            <span class="content">
              <label class="field_901"> </label>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [at1010], para el nodo [at1010], y el locale [es]:</span>
            <span class="content">
              <label class="field_902"> </label>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
