<?xml version="1.0" encoding="UTF-8"?>
<table class="container" cellpadding="0" cellspacing="3">
  <tr>
    <td colspan="2" id="content">
      <div class="OBSERVATION  ">
        <span class="label">Presión Arterial:</span>
        <span class="content">
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Sistólica:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_868"/>
              <input type="hidden" name="field_869" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Diástole:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_870"/>
              <input type="hidden" name="field_871" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Presión Arterial Media:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_872"/>
              <input type="hidden" name="field_873" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Presión de Pulso:</span>
            <span class="content">
(0.0..1000.0)              <input type="text" name="field_874"/>
              <input type="hidden" name="field_875" value="mm[Hg]"/>
mm[Hg]            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Comentario:</span>
            <span class="content">
              <textarea name="field_876"></textarea>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Posición:</span>
            <span class="content">
              <select name="field_877" id="field_877">
                <option value=""/>
                <option value="at1000||De pie">De pie</option>
                <option value="at1001||Sentado">Sentado</option>
                <option value="at1002||Reclinado">Reclinado</option>
                <option value="at1003||Acostado">Acostado</option>
                <option value="at1014||Acostado e inclinado levemente sobre su costado izquierdo">Acostado e inclinado levemente sobre su costado izquierdo</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Factores confluentes:</span>
            <span class="content">
              <textarea name="field_878"></textarea>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Estado del sueño:</span>
            <span class="content">
              <select name="field_879" id="field_879">
                <option value=""/>
                <option value="at1044||Alerta y despierto">Alerta y despierto</option>
                <option value="at1045||Dormido">Dormido</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DvQuantity ">
            <span class="label">Inclinación:</span>
            <span class="content">
(-90.0..90.0)              <input type="text" name="field_880"/>
              <input type="hidden" name="field_881" value="°"/>
°            </span>
          </div>
          <div class="INTERVAL_EVENT  ">
            <span class="label">Promedio de 24 horas:</span>
            <span class="content">
              <select name="field_882" id="field_882">
                <option value=""/>
                <option value="146||Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [146], para el nodo [146], y el locale [es_AR]">Termino no encontrado en el arquetipo openEHR-EHR-OBSERVATION.blood_pressure.v1spFinal codigo [146], para el nodo [146], y el locale [es_AR]</option>
              </select>
              <div class="DV_DURATION  ">
                <span class="content"/>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Sistólica:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_883"/>
                  <input type="hidden" name="field_884" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Diástole:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_885"/>
                  <input type="hidden" name="field_886" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Presión Arterial Media:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_887"/>
                  <input type="hidden" name="field_888" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Presión de Pulso:</span>
                <span class="content">
(0.0..1000.0)                  <input type="text" name="field_889"/>
                  <input type="hidden" name="field_890" value="mm[Hg]"/>
mm[Hg]                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Comentario:</span>
                <span class="content">
                  <textarea name="field_891"></textarea>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Posición:</span>
                <span class="content">
                  <select name="field_892" id="field_892">
                    <option value=""/>
                    <option value="at1000||De pie">De pie</option>
                    <option value="at1001||Sentado">Sentado</option>
                    <option value="at1002||Reclinado">Reclinado</option>
                    <option value="at1003||Acostado">Acostado</option>
                    <option value="at1014||Acostado e inclinado levemente sobre su costado izquierdo">Acostado e inclinado levemente sobre su costado izquierdo</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Factores confluentes:</span>
                <span class="content">
                  <textarea name="field_893"></textarea>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Estado del sueño:</span>
                <span class="content">
                  <select name="field_894" id="field_894">
                    <option value=""/>
                    <option value="at1044||Alerta y despierto">Alerta y despierto</option>
                    <option value="at1045||Dormido">Dormido</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DvQuantity ">
                <span class="label">Inclinación:</span>
                <span class="content">
(-90.0..90.0)                  <input type="text" name="field_895"/>
                  <input type="hidden" name="field_896" value="°"/>
°                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Tamaño del manguito:</span>
            <span class="content">
              <select name="field_897" id="field_897">
                <option value=""/>
                <option value="at0015||Muslo Adulto">Muslo Adulto</option>
                <option value="at0016||Adulto grande">Adulto grande</option>
                <option value="at0017||Adulto">Adulto</option>
                <option value="at1008||Adulto pequeño">Adulto pequeño</option>
                <option value="at1009||Pediátrico/Niño">Pediátrico/Niño</option>
                <option value="at1018||Infantil">Infantil</option>
                <option value="at1019||Neonatal">Neonatal</option>
              </select>
            </span>
          </div>
          <div class="CLUSTER  ">
            <span class="label">Localización:</span>
            <span class="content">
              <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
                <span class="label">Localización de la medida:</span>
                <span class="content">
                  <select name="field_898" id="field_898">
                    <option value=""/>
                    <option value="at0025||Brazo derecho">Brazo derecho</option>
                    <option value="at0026||Brazo izquierdo">Brazo izquierdo</option>
                    <option value="at0027||Muslo derecho">Muslo derecho</option>
                    <option value="at0028||Muslo izquierdo">Muslo izquierdo</option>
                    <option value="at1020||Muñeca derecha">Muñeca derecha</option>
                    <option value="at1021||Muñeca izquierda">Muñeca izquierda</option>
                    <option value="at1026||Tobillo derecho ">Tobillo derecho</option>
                    <option value="at1031||Tobillo izquierdo">Tobillo izquierdo</option>
                    <option value="at1032||Dedo">Dedo</option>
                    <option value="at1051||Dedo del pie">Dedo del pie</option>
                    <option value="at1053||Intra-arterial">Intra-arterial</option>
                  </select>
                </span>
              </div>
              <div class="ELEMENT ELEMENT_DV_TEXT ">
                <span class="label">Localización específica:</span>
                <span class="content">
                  <textarea name="field_899"></textarea>
                </span>
              </div>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Método:</span>
            <span class="content">
              <select name="field_900" id="field_900">
                <option value=""/>
                <option value="at1036||Auscultación">Auscultación</option>
                <option value="at1037||Palpación">Palpación</option>
                <option value="at1039||Máquina">Máquina</option>
                <option value="at1040||Invasivo">Invasivo</option>
              </select>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_TEXT ">
            <span class="label">Fórmula de la Presión Arterial Media (PAM):</span>
            <span class="content">
              <textarea name="field_901"></textarea>
            </span>
          </div>
          <div class="ELEMENT ELEMENT_DV_CODED_TEXT ">
            <span class="label">Punto final diastólica:</span>
            <span class="content">
              <select name="field_902" id="field_902">
                <option value=""/>
                <option value="at1011||Fase IV">Fase IV</option>
                <option value="at1012||Fase V">Fase V</option>
              </select>
            </span>
          </div>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td id="left"/>
    <td id="right"/>
  </tr>
  <tr>
    <td colspan="2" id="bottom"/>
  </tr>
</table>
