#content, #left, #right, #bottom {
  vertical-align: top;
}
#left {
  width: 50%;
}
#right {
  width: 50%;
}
.OBSERVATION .label, .EVALUATION .label, .INSTRUCTION .label, .ACTION .label {
  font-size: 14px;
  font-weight: bold;
  padding: 3px;
  margin-bottom: 2px;
}
.INSTRUCTION_narrative{
  padding: 3px;
  display: block;
  font-weight: normal;
  margin-bottom: 3px;
  background-color: #aaff99;
  border: 1px solid #33ff33;
}
.CLUSTER {
  font-weight: bold;
  border: 1px solid #6B90DA;
  background-color: #EBEFF9;
  margin-top: 3px;
}
.CLUSTER .label {
  padding: 3px;
  background-color: #BDCDF5;
  font-size: 13px;
  margin: 0px;
}
.CLUSTER .content {
  padding: 0px 3px 3px 3px;
  display: block;
  background-color: #EBEFF9;
}
.ELEMENT {
  font-weight: normal;
  margin-top: 3px;
  background-color: #ffff99;
  border: 1px solid #6B90DA;
  overflow: hidden; /* para que el height de la label no se salga del contenedor div.ELEMENT */
}
.ELEMENT .label {
  padding: 9px;
  font-size: 12px;
  margin-bottom: 0px;
  background-color: #BDCDF5;
  float: left;
  height: 100%;
}
.ELEMENT .content {
  padding: 4px;
  background-color: transparent;
}

/* mejor aprovechamiento del espacio para DvOrdinal poniendo el titulo del ELEMENT a la izquierda del contenido */
.ELEMENT_DvOrdinal .label, .ELEMENT_DV_CODED_TEXT .label, .ELEMENT_DV_COUNT .label, .ELEMENT_DvQuantity .label, .ELEMENT_DV_BOOLEAN .label {
  padding: 9px 3px 9px 5px;
  /* display: inline-block; */
  /*position: relative;*/
  vertical-align: middle;
  margin-bottom: 0px;
  font-weight: normal;
  width: 160px;
}
/* Si pongo .ELEMENT_DvOrdinal .content se ve mal el triage. FIXME: deberia definir reglas particulares para el triage que lo corrijan. */
.ELEMENT_DvOrdinal .content, .ELEMENT_DV_CODED_TEXT .content, .ELEMENT_DV_COUNT .content, .ELEMENT_DvQuantity .content, .ELEMENT_DV_BOOLEAN .content {
  display: inline-block;
  vertical-align: middle;
}
 
.ELEMENT_DV_TEXT span.label {
  float: none;
}
.ELEMENT_DV_TEXT span.content {
  display: block;
  padding-right: 8px; /* Corrige el margen derech de los spans donde aparecen textareas 2*/
}

.ELEMENT_DV_DATE_TIME {
  overflow: auto;
}
.ELEMENT_DV_DATE_TIME span.label {
  padding: 8px 3px 9px 5px;
}
.ELEMENT_DV_DATE_TIME span.content {
  display: inline-block;
  padding: 5px 4px 4px 5px;
}


.ELEMENT_DvQuantity input { /* que el input donde se pone el numero sea chico */
  width: 60px;
}
.ELEMENT .content label {
  /* display: inline-block; */
  margin-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.ELEMENT img {
  max-width: 385px;
}
.label {
  display: block;
}

select {
  width: 120px;
}
textarea {
  height: 48px;
  width: 100%;
}

.ELEMENT_DV_DATE_TIME select, .ELEMENT_DV_BOOLEAN select, .ELEMENT_DvQuantity select {
  width: auto;
}

/*******************************************************/
/* Para los boolean que el SI NO tenga el mismo largo. */
label input {
  vertical-align: middle;
}
label span {
  width: 30px;
  height: 22px;
  text-align: right;
  display: inline-block;
}
/* / Para los boolean que el SI NO tenga el mismo largo. */
/*********************************************************/

.active {
  /*font-weight: bold;*/
}
.multiple {
  /* text-align: right; */
  /*padding: 5px; */
}
a.cloner {
  /* estilo de botones nuevos de google */
  background-color: #4D90FE;
  border: 1px solid #3079ED;
  background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
  
  padding: 3px 5px 3px 5px;
  font-weight: normal;
  text-decoration: none;
  color: #ddd;
  text-align: center;
  width: 30%;
  position: relative;
  display: block;
}
a.cloner:hover {
  background-color: #4D90FE;
  border: 1px solid #3079ED;
  color: #fff;
  background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
}
.slot {
  border: 2px solid red;
  padding: 2px;
}
.archetype {
  /* background-color: #ddddff; */
  padding: 10px;
  border: 1px solid #dddd80;
}
.field {
  padding: 10px;
  border: 1px solid #80dddd;
}

/* --- NAVBAR ----------------------------- */ 
#navbar {
 width: 100%;
 /*padding-top: 5px;*/
 line-height: normal;
 font-size: 12px;
 margin-top: 0px;
 clear: both;
 /*background: #e0e0e0;*/
 text-align: left;
}
  
#navbar a {
 padding: 0px;
 text-decoration: none;
 color: #000;
 padding: 4px 10px 2px 10px;
 width: 100%;
 white-space:nowrap; /* Para que no corte a la mitad una tab si hay muchas */
}

/* no tiene permisos para botones de las tabs del navbar */
#navbar a.unavailable {
 color: #aaa;
}
  
#navbar ul {
 margin: 0;
 padding: 5px 0px 2px 20px;
 list-style: none;
 /*border-bottom: solid 1px #bbb;*/
}
  
#navbar li {
 margin-right: 1px;
 padding: 4px 0px 2px 0px;
 display: inline;
 color: #666;
 border: solid 1px #000000;
 border-bottom: 1px solid #000000;
 background-color: #efefef;
}
  
#navbar li.active {
  border: 1px solid #000000;
  border-bottom: 1px solid #ffffdd;
  /*font-weight: bold;*/
  background-color: #ffffdd;
}

/* CSS custom: TRIAGE */
.ELEMENT .content label.INGRESO-triage_at0003 {
  padding: 4px 4px 4px 4px;
  background-color: #55cc55;
  display: block;
}
.ELEMENT .content label.INGRESO-triage_at0004 {
  padding: 4px 4px 4px 4px;
  background-color: #dddd55;
  display: block;
}
.ELEMENT .content label.INGRESO-triage_at0005 {
  padding: 4px 4px 4px 4px;
  color: #fff;
  background-color: #ff5555;
  display: block;
}
.ELEMENT .content label.INGRESO-triage_at0006 {
  padding: 4px 4px 4px 4px;
  background-color: #cccccc;
  display: block;
}
.ELEMENT .content label.INGRESO-triage_at0007 {
  padding: 4px 4px 4px 4px;
  color: #fff;
  background-color: #333333;
  display: block;
}
/* /CSS custom: TRIAGE */